body{
	background-color: #1A222D !important;
	color: #fff !important;
}
.table{
	color: #fff !important;
}
th.sortable {
    color: #00b5eb !important;
 }
 #page-content-wrapper .text-secondary {
    color: #d6b032 !important;
    margin-bottom: 15px;
}
.input-group-text{
	color: #fff !important;
	margin-top: 7px;
}
.table-bordered th, .table-bordered td {
    border: 1px solid #27313d !important;
    background: #19222d !important;
}
.css-4ljt47-MenuList{
  background-color: #111A23 !important;
}
.css-26l3qy-menu{
  background-color: #111A23 !important;
}
.modal-content{
  background-color: #111A23 !important;
}
#sidebar-wrapper.border-right {
    border-right: 1px solid #242d39 !important;
}
#sidebar-wrapper{
	background-color: #121A23;
}
#sidebar-wrapper .list-group-item{
	background-color: #121A23;
	border-color: #242d39;
	color: #00b5eb !important;
}
#sidebar-wrapper .list-group-item:hover{
	color: #d6b032 !important;
}
.asrt-page-length .input-group-addon{
	background-color: transparent !important;
}
.customNavTradeAdmin {
    background-color: #121a23;
    border-bottom: 1px solid #242d39;
    -webkit-transition: .5s;
    transition: .5s;
}
.card{
	background-color: #121A23 !important;
}
.react-pattern-lock__pattern-wrapper{
	background-color: #d6b032 !important;
	border-radius: 10px;
}
.form-group label {
    color: #fff !important;
    text-align: center !important;
    display: block !important;
    width: 100%;
}
.titleLogin{
	color: #00B5EB;
	font-weight: 600;
	text-transform: uppercase;
}
.react-phone-number-input {
    background: #fff;
    padding: .20rem.375rem 0.60rem;
    border-radius: 0.25rem;
}
.react-phone-number-input__input--style{
	border-bottom: 0 !important;
}
.react-pattern-lock__pattern-wrapper {
    margin: 40px auto 20px;
}

input[type=button], input[type=submit], input[type=reset], input[type=file],   {
  background-color: #ff6601;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: auto;
  cursor: pointer;
  font-weight: 600;
  display: block;
}
.formInlineCommon input[type="button"], .formInlineCommon input[type="submit"], .formInlineCommon input[type="reset"]{
  width: auto;
}
.securityphone{
  position: absolute;
    bottom: 0;
    right: 0;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #d65703;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text], input[type=password], input[type=email], input[type=search], input[type=number], textarea, textarea.form-control, .react-phone-number-input{
  background-color: #121a23;
  border: 1px solid #374454;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  resize: none;
  box-shadow: none !important;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=search]:focus, input[type=number]:focus, input[type=search]:focus, textarea:focus, textarea.form-control:focus, .react-phone-number-input:focus {
  background-color: #121a23;
  border: 1px solid #374454;
  color: #fff;
}
.css-yk16xz-control {
  background-color: #121a23 !important;
  border: 1px solid #374454 !important;
  color: #fff !important;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  resize: none;
  box-shadow: none !important;
}
.form-control:disabled, .form-control[readonly] {
   background-color: #19222d;
  border: 1px solid #374454;
  color: #6f7173;
    opacity: 1;
}
input:placeholder {
  color: #cccccc;
}
.react-phone-number-input__input{
	background-color: #121a23;
	color: #fff !important;
}
.react-phone-number-input__icon{
	border: 0;
}
.react-phone-number-input__icon-image {
    margin-top: -8px;
}
.btnBlue{
	background: #00b5eb !important;
	color: #ffffff !important;
	border-radius: 5px;
	transition: .5s;
	padding: 7px 25px !important;
	box-shadow: none !important;
}
.btnBlue:hover{
	color: #ffffff !important;
	background: #d6b032 !important;
}
.btnYellow{
	background: #d6b032 !important;
	color: #ffffff !important;
	border-radius: 5px;
	transition: .5s;
	padding: 10px 50px !important;
	box-shadow: none !important;
}
.btnYellow:hover{
	color: #ffffff !important;
	background: #00b5eb !important;
}
a{
	color: #00b5eb !important;
	transition: .5s;
}
a:hover{
	color: #d6b032 !important;
	transition: .5s;
	text-decoration: none !important;
}
.page-item.disabled .page-link{
	background-color: transparent !important;
	border-color: #d6b032 !important;
}
.page-link{
	background-color: #d6b032 !important;
	color: #fff !important;
	border-color: #d6b032 !important;
	box-shadow: none !important;
}
.page-link:hover{
	color: #fff !important;
	background: #00b5eb !important;
}
.card-title{
	color: #d6b032 !important;
}
#page-content-wrapper{
	padding-left: 15px !important;
	padding-right: 15px !important;
}
#page-content-wrapper .container-fluid{
	padding-right: 0;
	padding-left: 0;
}

#update-Changepassword .react-pattern-lock__pattern-wrapper{
  margin-top: 15px !important;
}