.newsMain {
    display: flex;
    justify-content: space-around;
    background: #121a23;
    margin: 0 35px;
    padding: 8px 0;
}
.simple-marquee-container *{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
.simple-marquee-container {
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
	max-width: 92%;
}

.marquee, *[class^="marquee"] {
	display: flex;
	white-space: nowrap;
	position:absolute;
	justify-content: center;
	align-items: center;

}

.marquee{
  margin-left: 25%;
}

.marquee-content-items{
  display: inline-block;
  padding: 0px;
  margin: 0;
  position: relative;
}

.marquee-content-items li{
  display: inline-block;
  color: #c8c8c8;
  font-size: 12px;
}

.marquee-content-items li:after{
	content: "|";
	margin: 0 1em;
}

