
 .responsive-table li {
	 padding: 25px 30px;
	 display: flex;
	 justify-content: space-between;
}
 .responsive-table .table-header {
	 border-bottom: 0;
	background: rgb(63,64,48);
	background: linear-gradient(0deg, rgba(63,64,48,1) 0%, rgba(68,69,54,1) 100%);
	color: #d7d7d7;
	font-size: 18px;
	font-weight: 600;
	padding: 15px 15px;
	border-top:0;
}
 .responsive-table .table-row {
    background-color: #2d312e;
	border-bottom: 1px solid #d6b032;
	border-top: 0;
	font-size: 18px;
	color:#fff;
    font-weight: 600;
    padding: 15px 15px;
    transition: .5s;
}
 .responsive-table .col-1 {
	 flex-basis: 16%;
}
 .responsive-table .col-2 {
	 flex-basis: 18%;
}
 .responsive-table .col-3 {
	 flex-basis: 25%;
}
 .responsive-table .col-4 {
	 flex-basis: 16%;
}
 .responsive-table .col-5 {
	 flex-basis: 25%;
}
 @media all and (max-width: 767px) {
	 .responsive-table .table-header {
		 display: none;
	}
	 .responsive-table li {
		 display: block;
	}
	 .responsive-table .col {
		 flex-basis: 100%;
	}
	 .responsive-table .col {
		 display: flex;
		 padding: 10px 0;
	}
	 .responsive-table .col:before {
		 color: #6c7a89;
		 padding-right: 10px;
		 content: attr(data-label);
		 flex-basis: 50%;
		 text-align: right;
	}
}
 