body {
  background: #19222d;
  font-size: 16px;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
}
.CoinInfoSideBar{
background: #19222d;
border: 1px solid #27313d;
padding: 8px 0px;
margin-bottom: 10px;
padding: 15px;
}
.CoinInfoSideBar .input-group-text {
background: #121a23;
border-color: #374454;
color: #d6b032;
}
.CoinInfoSideBar .input-group .form-control {
border-left: 0;
padding-left: 0px;
}
.CoinInfoSideBar .input-group .form-control:focus{
border-color: #374454;
}
.CoinInfoSideBar ul li{
margin-bottom: 15px;
display: flex;
align-items: flex-start;
}
.CoinInfoSideBar ul li i{
margin-right: 7px;
color: #d6b032;
margin-top: 4px;
}
.selectPairCard {
  background: #555641;
  padding: 10px 15px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.partnerMain {
  background: #17212d;
}
.partnerMain h3 {
  color: #d6b032;
  margin-bottom: 25px;
  font-size: 24px;
}
.recognisedLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 35px;
}
.recognisedLogo a {
  display: inline-flex;
  width: calc(20% - 20px);
  margin: 0 10px;
  background: #ffffff;
  border-radius: 7px;
}
.recognisedLogo a img {
  border-radius: 7px;
}

a {
  color: #00b5eb;
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  color: #d6b032;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.CalculaterPart .input-group-append-icon {
  position: absolute;
  top: 38px;
  right: 15px;
  color: #bcbcbc;
}
.inputcenter {
  width: auto !important;
  display: inline-block !important;
}
.calcResultBox {
  background-color: #121a23;
  border: 1px solid #222c37;
  padding: 20px 20px 0;
  height: 100%;
}
.calcResultList li {
  display: flex;
  justify-content: space-between;
}
.calcResultList li p {
  font-size: 16px;
  font-weight: 500;
}
.calcResultList li p span {
  color: #00b5eb;
}
.rc-slider-rail {
  background-color: #27313d !important;
}
.rc-slider-dot {
  background-color: #27313d !important;
  border-color: #d6b032 !important;
}
.rc-slider-dot-active {
  background-color: #27313d !important;
  border-color: #00b5eb !important;
}
.rc-slider-handle {
  background-color: #27313d !important;
  border-color: #00b5eb !important;
}
.notification-container-bottom-center,
.notification-container-bottom-left,
.notification-container-bottom-right,
.notification-container-mobile-bottom,
.notification-container-mobile-top,
.notification-container-top-center,
.notification-container-top-left,
.notification-container-top-right {
  position: fixed;
  z-index: 9999999;
}
.checkbox label:after,
.radio label:after {
  content: "";
  display: table;
  clear: both;
}

.landingForm .checkbox .cr,
.landingForm .radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #d6b032;
  background: #d6b032;
  border-radius: 0em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: 0.5em;
  margin-top: 3px;
}
.react-phone-number-input__icon {
  width: 1.24em;
  height: auto !important;
  border: 0 !important;
  box-sizing: content-box;
}
.react-phone-number-input {
  width: 100% !important;
}

.landingForm .react-phone-number-input {
  width: 100% !important;
  border: 1px solid #d7d7d7;
  padding-left: 10px;
  background: #d7d7d7;
  border-radius: 5px;
}
.landingForm .react-phone-number-input input {
  border-radius: 0 5px 5px 0 !important;
  border: 0 !important;
  background: #d7d7d7 !important;
}
.landingForm .react-phone-number-input__country-select-arrow {
  color: #000000;
  margin-left: 15px !important;
}
.radio .cr {
  border-radius: 50%;
}

.landingForm .checkbox .cr .cr-icon,
.landingForm .radio .cr .cr-icon {
  position: absolute;
  font-size: 0.7em;
  line-height: 0;
  top: 50%;
  left: 20%;
  color: #444946;
}

.landingForm .radio .cr .cr-icon {
  /*margin-left: 0.04em;*/
}

.landingForm .checkbox label input[type="checkbox"],
.landingForm .radio label input[type="radio"] {
  display: none;
}

.landingForm .checkbox label input[type="checkbox"] + .cr > .cr-icon,
.landingForm .radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all 0.3s ease-in;
}

.landingForm .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.landingForm .radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.landingForm .checkbox label input[type="checkbox"]:disabled + .cr,
.landingForm .radio label input[type="radio"]:disabled + .cr {
  opacity: 0.5;
}

.landingForm input[type="text"],
.landingForm input[type="tel"],
.landingForm input[type="password"],
.landingForm input[type="email"],
.landingForm input[type="number"],
.landingForm textarea,
.landingForm textarea.form-control {
  background-color: #d7d7d7;
  border: 1px solid #d7d7d7;
  color: #000 !important;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  resize: none;
  box-shadow: none !important;
}

.landingForm input[type="text"]:focus,
.landingForm input[type="tel"]:focus,
.landingForm input[type="password"]:focus,
.landingForm input[type="email"]:focus,
.landingForm input[type="number"]:focus,
.landingForm input[type="search"]:focus,
.landingForm textarea:focus,
.landingForm textarea.form-control:focus {
  background-color: #d7d7d7;
  border: 1px solid #00b5eb;
}

.landingForm input:placeholder {
  color: #cccccc;
}
.landingForm input[type="button"],
.landingForm input[type="submit"],
.landingForm input[type="reset"],
.landingForm input[type="file"] {
  background-color: #d6b032;
  border: none;
  color: #ffffff;
  padding: 12px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px auto 10px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: auto;
  cursor: pointer;
  font-weight: 600;
  display: block;
}
.landingForm input[type="button"]:hover,
.landingForm input[type="submit"]:hover,
.landingForm input[type="reset"]:hover {
  background-color: #00b5eb;
}

.landingForm input[type="button"]:active,
.landingForm input[type="submit"]:active,
.landingForm input[type="reset"]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.formBox {
  background: #2c302e;
  padding: 40px;
}
.formBox a {
  color: #c8c8c8;
  font-size: 14px;
  transition: 0.5s;
}
.formBox a:hover {
  color: #00b5eb;
}
.formBox a.regTerms {
  color: #d6b032;
}
.formBox a.regTerms:hover {
  color: #00b5eb;
}
.formBox h6 {
  font-size: 14px;
  color: #c8c8c8;
}
.formBox h6 a {
  color: #d6b032;
  transition: 0.5s;
}
.formBox h6 a:hover {
  color: #00b5eb;
}
.formBox .form-group label {
  font-size: 14px;
  display: block;
  width: 100%;
}
.loginBanner .formBox h2 {
  font-size: 36px;
  border-bottom: 1px solid #3f4542;
  padding-bottom: 15px;
}
.formBox .nav-tabs {
  border-bottom: 0;
}
.formBox .nav-tabs .nav-link {
  background: #444946;
  border-radius: 0;
  color: #c8c8c8;
  text-transform: uppercase;
  font-size: 16px;
  transform: 0.5s;
  border: 0 !important;
}
.formBox .nav-tabs .nav-item.show .nav-link,
.formBox .nav-tabs .nav-link.active {
  border: 0;
  background: #d6b032;
  color: #ffffff;
}
.formBox .nav-tabs .nav-link:focus,
.formBox .nav-tabs .nav-link:hover {
  border: 0;
  border-radius: 0;
  background: #d6b032;
  color: #ffffff;
}
.formBox .form-group.input-group .nice-select {
  border-right: 0;
  border-radius: 5px 0 0 5px;
  height: 46px;
  line-height: 46px;
  color: #000;
  font-size: 14px;
  background-color: #d7d7d7;
}
.formBox .form-group.input-group .nice-select::after {
  border-color: #d6b032;
}
.formBox .form-group.input-group .nice-select:active,
.formBox .form-group.input-group .nice-select.open,
.formBox .form-group.input-group .nice-select:focus {
  border-color: #d7d7d7;
}
.formBox .form-group.input-group .nice-select .option {
  display: block;
  margin: 0;
  color: #000;
  font-size: 14px;
}
.formBox .form-group.input-group .nice-select .list {
  background: #d7d7d7;
}
.formBox .form-group.input-group .nice-select .option:hover,
.formBox .form-group.input-group .nice-select .option.focus,
.formBox .form-group.input-group .nice-select .option.selected.focus {
  background: #00b5eb;
  color: #000;
}

.btnBlue {
  background: #00b5eb;
  color: #ffffff;
  border-radius: 5px;
  transition: 0.5s;
}
.btnBlue:hover {
  color: #ffffff;
  background: #d6b032;
}
.customNav {
  background: #1a222d;
}
.customNav .nav-link {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.customNav .nav-link:hover {
  color: #00b5eb;
}
.customNav .nav-item:last-child .nav-link {
  background-color: #d6b032;
  border-radius: 5px;
  margin-left: 15px;
  padding: 10px 20px;
  font-size: 16px;
}
.customNav .nav-item:last-child .nav-link:hover {
  background-color: #00b5eb;
  color: #ffffff;
}
.homeBanner {
  background: url(../images/homebg.jpg) no-repeat scroll center top;
  background-size: cover;
  padding-top: 70px;
  min-height: 808px;
}
.loginBanner {
  background: url(../images/loginbg.jpg) no-repeat scroll center bottom;
  background-size: cover;
  padding-top: 70px;
  min-height: 808px;
  padding-bottom: 35px;
}
.AppComingSoonSection {
  background: url(../images/appBannerBg.png) no-repeat scroll center bottom;
  background-size: cover;
  min-height: 186px;
}
.appComingSoonText {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.appComingSoonText h3 {
  background: -webkit-linear-gradient(#eee52c, #d6b132);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 600;
  margin-top: 35px;
  margin-bottom: 5px;
}
.appComingSoonText p {
  margin-bottom: 6px;
}
.loginBanner h3 {
  font-size: 36px;
  margin: 0 0 0px 0;
}
.loginBanner h2 {
  font-size: 80px;
  color: #d6b032;
  font-weight: 400;
  margin: 0 0 25px 0;
}
.loginBanner h2 small {
  font-size: 60px;
  font-weight: 400;
}
.loginBanner ul li {
  color: #c8c8c8;
  text-transform: capitalize;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 15px;
}
.loginBanner ul li i {
  color: #00b5eb;
  margin-right: 10px;
}
.homeBannerText {
  padding: 60px 0 0 75px;
}
.homeBannerImg {
  margin-top: 95px;
}
.homeBannerText h3 {
  font-size: 36px;
  margin: 0 0 0px 0;
}
.homeBannerText h2 {
  font-size: 80px;
  color: #d6b032;
  font-weight: 400;
  margin: 0 0 25px 0;
}
.homeBannerText h2 small {
  font-size: 60px;
  font-weight: 400;
}
.homeBannerText h6 {
  font-size: 14px;
  margin: 0 0 15px 0;
}
.homeBannerText h6 span {
  color: #00b5eb;
}
.homeBannerText p a {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 12px 25px;
}
.homeBannerText ul li {
  display: flex;
  margin-bottom: 25px;
  align-items: center;
}
.homeBannerText ul li small {
  font-size: 18px;
}
.homeBannerText ul li:hover small {
  color: #00b5eb;
}
.homeBannerText ul li span.bannerIcon {
  width: 58px;
  height: 40px;
  background: url("../images/bannerIcon.png") -11px -70px;
  display: inline-block;
  margin-right: 15px;
}
.homeBannerText ul li:hover span.bannerIcon {
  background-position: -11px -10px;
}
.coinTable {
  margin-top: -220px;
  margin-bottom: 75px;
}
.coinTable nav {
  background: #d6b032;
}
.coinTable .nav-tabs {
  border-bottom: 0;
}
.coinTable .nav-tabs .nav-link {
  font-size: 22px;
  color: #ffffff;
  font-weight: 600;
  padding: 15px 30px;
  border: 0;
  margin-left: 25px;
  border-radius: 0;
}
.coinTable .nav-tabs .nav-link:hover {
  background: #2c302e;
  border: 0;
  border-radius: 0;
}
.coinTable .nav-tabs .nav-item.show .nav-link,
.coinTable .nav-tabs .nav-link.active {
  background: #2c302e;
  color: #fff;
  border: 0;
  border-radius: 0;
}
.coinTable table.dataTable {
  margin: 0 !important;
  border-bottom: 2px solid #d6b032;
}
.coinTable table.dataTable th {
  border-bottom: 0;
  background: rgb(63, 64, 48);
  background: linear-gradient(
    0deg,
    rgba(63, 64, 48, 1) 0%,
    rgba(68, 69, 54, 1) 100%
  );
  color: #d7d7d7;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 15px;
  border-top: 0;
}
.coinTable table.dataTable td {
  background-color: #2d312e;
  border-bottom: 1px solid #d6b032;
  border-top: 0;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  padding: 15px 15px;
  transition: 0.5s;
}
.coinTable table.dataTable tr:hover td {
  background-color: #00b5eb;
}
.greenText {
  color: #35ed60;
}
.redText {
  color: #ff4343;
}
.cryptoFeatures {
  background: url(../images/featuresBG.jpg) no-repeat scroll center bottom;
  background-size: cover;
  padding-top: 35px;
}
.pageTitle {
  text-align: center;
  font-size: 36px;
}
.pageTitle small {
  display: block;
  font-size: 18px;
  color: #d6b032;
}
.cryptoFeaturesContText h4 {
  font-size: 28px;
  color: #00b5eb;
  transition: 0.5s;
}
.cryptoFeaturesCont:hover .cryptoFeaturesContText h4 {
  color: #d6b032;
}
.homeCTA {
  background: url(../images/ctabg.jpg) no-repeat scroll center top;
  background-size: cover;
  min-height: 200px;
  padding: 55px 0 25px;
}
.homeCTACont h6 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #19222d;
  margin-bottom: 0;
  text-shadow: 0px 0px 10px #ffffbe;
}
.homeCTACont h3 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 25px;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}
.homeCTACont p a {
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.homeCTACont p a:hover {
  background-color: #2d312e;
}
.getStarted {
  padding: 70px 0;
}
.getStartedCont h4 {
  font-size: 20px;
  font-weight: 700;
  color: #00b5eb;
  text-transform: uppercase;
  margin: 20px 0 0 0;
  text-align: center;
  transition: 0.5s;
}
.getStartedCont:hover h4 {
  color: #d6b032;
}
.getStartedCont span {
  display: block;
  margin: 0 auto;
}
.getStartIcon {
  height: 130px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.getStartIcon1 {
  width: 101px;
  height: 101px;
  background: url("../images/gsicon.png") -10px -10px;
  transition: 0.3s;
}
.getStartedCont:hover .getStartIcon1 {
  background-position: -10px -131px;
}
.getStartIcon2 {
  width: 100px;
  height: 130px;
  background: url("../images/gsicon.png") -10px -498px;
  transition: 0.3s;
}
.getStartedCont:hover .getStartIcon2 {
  background-position: -10px -648px;
}
.getStartIcon3 {
  width: 98px;
  height: 103px;
  background: url("../images/gsicon.png") -10px -252px;
  transition: 0.3s;
}
.getStartedCont:hover .getStartIcon3 {
  background-position: -10px -375px;
}
.getStartedCont::after {
  content: "";
  background-image: url(../images/arrowTriple.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 0;
  width: 32px;
  height: 17px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  right: 0;
}
.getStartedCont.noarrow::after {
  display: none;
}

.secFAQ {
  padding: 50px 0;
  background: #151e28;
}
.homeAccordian #accordion .card-header .btn {
  padding: 0;
  display: block;
  width: 100%;
  text-align: left;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
  border-bottom: 0;
  white-space: normal;
  display: flex;
  justify-content: space-between;
}
.homeAccordian #accordion .card-header .btn.btn-link.collapsed {
  color: #c8c8c8;
  text-decoration: none;
  transition: 0.5s;
  border-bottom: 1px solid #00b5eb;
  padding-bottom: 20px;
  transition: 0.5s;
  font-weight: 500;
  white-space: normal;
  display: flex;
  justify-content: space-between;
}
.homeAccordian #accordion .card-header .btn.btn-link.collapsed:hover {
  text-decoration: none;
  color: #00b5eb;
}
.homeAccordian #accordion .card-header:hover .btn.btn-link.collapsed {
  text-decoration: none;
  color: #00b5eb;
}
.homeAccordian #accordion .card-header .btn i {
  float: right;
  margin-right: 15px;
  margin-top: 0px;
  padding: 8px;
  color: #2c6ed5;
  font-size: 0.85rem;
  transition: 0.5s;
}

.homeAccordian #accordion .card-header {
  padding: 0.55rem 0rem;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 0;
}
.homeAccordian #accordion .card {
  border-radius: 0px;
  border: 0;
  background: transparent;
}
.homeAccordian #accordion .card-body {
  padding: 0.5rem 1.25rem 0.3rem 1.9rem;
}
.homeAccordian #accordion .card-body p {
  color: #fff;
}
.homeAccordian #accordion .card-header [data-toggle="collapse"] .fa:before {
  content: "\f068";
  color: #d6b032;
}

.homeAccordian
  #accordion
  .card-header
  [data-toggle="collapse"].collapsed
  .fa:before {
  content: "\f067";
  color: #c8c8c8;
}
.homeAccordian #accordion .card-header:hover .btn i:before {
  color: #00b5eb !important;
}
.homeAccordian #accordion .card-header .btn .numList {
  background: #ff8300;
}
.homeAccordian #accordion .card-header .btn.btn-link.collapsed .numList {
  background: #2c6ed5;
}

.pageFooter {
  background: #121a23;
  padding: 25px 0;
}
.footerCont h6 {
  color: #d6b032;
  margin-bottom: 25px;
}
.footerCont h6.footerBottTitle {
  color: #71767b;
  font-size: 14px;
}
.footerCont ul li a {
  color: #c8c8c8;
}
.footerCont ul li a:hover {
  color: #00b5eb;
}
.footerCont p {
  color: #c8c8c8;
  font-size: 14px;
  line-height: 18px;
}
.footerCont ul.socialIcons {
  margin-bottom: 20px;
}
.footerCont ul.socialIcons li {
  display: inline-block;
  margin: 0 15px;
}
.footerCont ul.socialIcons li:first-child {
  margin-left: 0;
}
.footerCont ul.socialIcons li:last-child {
  margin-right: 0;
}
.footerCont ul.socialIcons li a {
  font-size: 24px;
  color: #71767b;
}
.footerCont ul.socialIcons li a:hover {
  color: #00b5eb;
}
.featuresIcon1 {
  width: 94px;
  height: 93px;
  display: block;
  background: url("../images/featuresIcon.png") -10px -10px;
  transition: 0.3s;
}
.cryptoFeaturesCont:hover .featuresIcon1 {
  background-position: -10px -123px;
}
.featuresIcon2 {
  width: 94px;
  height: 93px;
  display: block;
  background: url("../images/featuresIcon.png") -10px -236px;
  transition: 0.3s;
}
.cryptoFeaturesCont:hover .featuresIcon2 {
  background-position: -10px -349px;
}
.featuresIcon3 {
  width: 94px;
  height: 93px;
  display: block;
  background: url("../images/featuresIcon.png") -10px -462px;
  transition: 0.3s;
}
.cryptoFeaturesCont:hover .featuresIcon3 {
  background-position: -10px -575px;
}
.featuresIcon4 {
  width: 94px;
  height: 93px;
  display: block;
  background: url("../images/featuresIcon.png") -10px -688px;
  transition: 0.3s;
}
.cryptoFeaturesCont:hover .featuresIcon4 {
  background-position: -10px -801px;
}
.cryptoFeaturesImg img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: 0.5s;
}
.cryptoFeaturesImg img:hover {
  filter: unset;
}

.innerCMS {
  margin-top: 72px;
  border-top: 1px solid #242d39;
  background-color: #121a23;
  padding-bottom: 15px;
}
.darkBox {
  background: #19222d;
  border: 1px solid #27313d;
  padding: 8px 0px;
  margin-bottom: 10px;
}
.tableHead {
  display: block;
  border-bottom: 1px solid #27313d;
  margin-bottom: 0px;
  padding-bottom: 8px;
}
.tableHead h2 {
  font-size: 24px;
  color: #d6b032;
  text-align: center;
  margin: 12px 15px 15px;
  font-weight: 600;
}
.tableHead h1 {
  font-size: 24px;
  color: #d6b032;
  text-align: left;
  margin: 12px 15px 15px;
  font-weight: 600;
}
.leverage {
  position: relative;
  margin-top: 150px;
}
.darkBox.leverage::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -150px;
  background-image: url(../images/leverage.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  padding-top: 0;
  width: 153px;
  height: 156px;
  margin-left: -75px;
}
.darkBoxSpace {
  padding: 35px 35px 15px;
}
.contentPage h4 {
  font-size: 16px;
  font-weight: 600;
  color: #d6b032;
}
.contentPage p {
  font-size: 14px;
}
.contentPage h5 {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #d6b032;
  display: inline-block;
  width: 100%;
}
.cmsTopImg {
  display: block;
  margin: 0 auto;
}
.borderBottomRemove {
  border-bottom: 0;
}
.buttonType1 {
  background-color: #d6b032;
  border-radius: 5px;
  padding: 6px 20px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  transition: 0.5s;
  border: 0;
  box-shadow: none !important;
  cursor: pointer;
  transition: 0.5s;
}
.buttonType1:hover {
  background-color: #00b5eb;
  color: #fff;
}

.bonusBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #121a23;
  border: 1px solid #6c5c1e;
  border-radius: 5px;
  padding: 15px;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  transition: 0.5s;
}
.bonusBox:hover {
  -webkit-box-shadow: 0px 0px 25px 2px rgba(117, 91, 5, 0.5);
  -moz-box-shadow: 0px 0px 25px 2px rgba(117, 91, 5, 0.5);
  box-shadow: 0px 0px 25px 2px rgba(117, 91, 5, 0.5);
  border-color: #d6b032;
}

.bonusfaceIcon {
  background: #3b5a99;
  width: 36px;
  height: 36px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 0 3px;
  border-radius: 50%;
  font-size: 18px;
}
.bonusfaceIcon:hover {
  background: #eeeeee;
  color: #3b5a99;
}
.bonustwitterIcon {
  background: #33ccff;
  width: 36px;
  height: 36px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 0 3px;
  border-radius: 50%;
  font-size: 18px;
}
.bonustwitterIcon:hover {
  background: #eeeeee;
  color: #33ccff;
}
.bonusteleIcon {
  background: #36aee2;
  width: 36px;
  height: 36px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 0 3px;
  border-radius: 50%;
  font-size: 18px;
}
.bonusteleIcon:hover {
  background: #eeeeee;
  color: #33ccff;
}
.bonusRewards h4 {
  font-size: 16px;
  font-weight: 600;
  color: #d6b032;
  margin: 0 0 20px 0;
}
.bonusBox h2 {
  font-size: 44px;
  color: #d6b032;
  font-weight: 600;
}
.borLeftRight {
  border-left: 1px dotted #6c5c1e;
  border-right: 1px dotted #6c5c1e;
}
.bonusBox h2 small {
  font-size: 28px;
  color: #ffffff;
  font-weight: 600;
}
.bonusBox p {
  font-size: 12px;
  color: #c8c8c8;
  text-align: center;
}
.bonusBox p span {
  color: #d6b032;
}
.bonusRewards .bonusBox h4 {
  font-size: 22px;
  color: #00b5eb;
  text-align: center;
}
.tableHead.tableHeadBlock p {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
}
.tableHeadz.tableHeadBlock p {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
}
.btnClaim {
  margin-top: auto;
}
.btnClaim .buttonType1 {
  padding: 15px 25px;
}
.bonusContent h4 {
  margin-bottom: 15px;
  margin-top: 45px;
}
.bonusContent p {
  font-size: 12px;
}
#questionnaire .modal-dialog .questionnaireContent {
  background-color: #19222d;
  border: 1px solid #242d39;
  border-radius: 0;
}
#questionnaire .modal-dialog .questionnaireContent .modal-body {
  padding: 0;
}
.questionnaireContent button.close {
  position: absolute;
  top: 0;
  right: -25px;
  color: #fff;
  font-size: 36px;
  outline: 0;
}
.popHead {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #242d39;
  align-items: center;
  padding: 0 20px;
}
.popHead h3 {
  font-size: 24px;
  color: #d6b032;
  font-weight: 600;
  margin: 0;
}
.popHead h2 {
  font-size: 72px;
  color: #d6b032;
  font-weight: 600;
  margin: 0;
}
.popHead h2 small {
  font-size: 28px;
  color: #ffffff;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
  line-height: 72px;
}
.popUpSpace {
  padding: 20px;
}
#questionnaire .form-group label {
  display: block;
  width: 100%;
}
.answerList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  border-bottom: 1px solid #242d39;
  padding-bottom: 20px;
}
.faqCont .card {
  background: transparent;
  border: 0;
  margin-bottom: 15px;
}
.faqCont .card-header {
  padding: 0;
  background: transparent;
  border: 0;
}
.faqCont .card-header .btn {
  padding: 0;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.faqCont .card-header h5 {
  margin: 0;
}
.faqCont .card-body {
  padding-left: 0;
  padding-right: 0;
  padding-top: 12px;
  padding-bottom: 0;
}
.faqCont .card-body p {
  color: #c8c8c8;
}
.faqCont .card-header .btn.btn-link {
  border-bottom: 1px solid #242d39;
  border-radius: 0;
  display: inline-block;
  width: 100%;
  text-align: left;
  padding-bottom: 12px;
  font-weight: 600;
}
.faqCont .card-header .btn.btn-link.collapsed {
  border-bottom: 0px solid #fff;
  border-radius: 0;
  font-weight: 400;
}
@media screen and (max-width: 1199px) {
  .homeBannerText {
    padding: 50px 0 0 0px;
  }
  .homeBannerImg {
    margin-top: 50px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    max-width: 96%;
  }
  .homeBannerText h3 {
    font-size: 30px;
  }
  .homeBannerText h2 {
    font-size: 60px;
  }
  .homeBannerText h2 small {
    font-size: 40px;
  }
  .homeBannerText h6 {
    font-size: 13px;
  }
  .homeCTACont h6 {
    font-size: 25px;
  }
  .homeCTACont h3 {
    font-size: 40px;
  }
  .cryptoFeaturesContIcon {
    margin-top: 10px;
  }
  .footerCont ul.socialIcons li {
    margin: 0 10px;
  }
  .homeBannerText ul li small {
    font-size: 13px;
  }
  .AppComingSoonSection {
    min-height: auto;
  }
  .appComingSoonText h3 {
    margin-top: 25px;
    font-size: 42px;
  }
}
@media screen and (max-width: 767px) {
  .homeBannerText {
    padding: 25px 0 0 0px;
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .homeBannerImg {
    margin-top: 0px;
  }
  .homeBannerImg img {
    margin: 0 auto;
    display: block;
  }
  .coinTable {
    margin-top: -120px;
  }
  .homeCTACont h3 {
    font-size: 35px;
  }
  .customNav .navbar-toggler {
    color: #00b5eb;
    outline: none;
    padding: 0;
    font-size: 24px;
    transition: 0.5s;
  }
  .customNav .navbar-toggler:hover {
    color: #d6b032;
  }
  .customNav .nav-item:last-child .nav-link {
    margin-left: 0;
    margin: 10px 0 12px;
  }
  .getStartedCont::after {
    right: -15px;
  }
  table.dataTable > tbody > tr.child ul.dtr-details {
    width: 100%;
  }
  table.dataTable.dtr-inline.collapsed
    > tbody
    > tr[role="row"]
    > td:first-child::before,
  table.dataTable.dtr-inline.collapsed
    > tbody
    > tr[role="row"]
    > th:first-child::before {
  }
  table.dataTable.dtr-inline.collapsed
    > tbody
    > tr[role="row"]
    > td:first-child::before,
  table.dataTable.dtr-inline.collapsed
    > tbody
    > tr[role="row"]
    > th:first-child::before {
    top: 50%;
    margin-top: -7px;
    background-color: #00b5eb;
  }
  .loginBanner .homeBannerText ul {
    margin-left: 15px;
  }
  .loginBanner ul li {
    text-align: left;
  }
  .homeBannerText ul li {
    display: block;
  }
  .homeBannerText ul li span.bannerIcon {
    display: none;
  }
  .homeBannerText ul li small {
    font-size: 18px;
  }
  .AppComingSoonSection {
    min-height: auto;
  }
  .appComingSoonText h3 {
    font-size: 36px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 575px) {
  .homeBannerText h3 {
    font-size: 24px;
  }
  .homeBannerText h6 {
    font-size: 16px;
  }
  .coinTable .nav-tabs .nav-link {
    margin-left: 0;
  }
  .cryptoFeaturesContText h4 {
    font-size: 22px;
  }
  .homeAccordian #accordion .card-header .btn span.question {
    max-width: 85%;
    display: inline-block;
  }
  .footerCont h6 {
    margin-bottom: 5px;
  }
  .pageTitle {
    font-size: 30px;
    font-weight: 600;
  }
  .getStartedCont::after {
    right: 50%;
    transform: rotate(90deg);
    margin-right: -17px;
    top: 87%;
  }
  .getStartedCont {
    margin-bottom: 80px;
  }
  .featuresIcon1,
  .featuresIcon2,
  .featuresIcon3,
  .featuresIcon4 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  .cryptoFeaturesContText h4 {
    text-align: center;
  }
  .cryptoFeaturesContText p {
    text-align: center;
  }
  .appComingSoonText h3 {
    margin-top: 30px;
    font-size: 36px;
  }
  .appComingSoonText p {
    font-size: 14px;
  }
  .appComingSoonText {
    padding-bottom: 20px;
  }
  .answerList {
    display: block;
  }
  .landingForm iframe {
    transform: scale(0.6);
    position: absolute;
    left: 0;
  }
  .loginBanner .tab-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .recaptchaMain {
    overflow-x: hidden;
  }
}
.intl-tel-input .country-list {
  color: #000 !important;
}

.react-phone-number-input__input {
  background-color: #121a23 !important;
  border: 1px solid #374454 !important;
  color: #fff !important;
  height: 45px !important;
}

.valuesTable th {
  border-bottom: 0;
  background: rgb(63, 64, 48);
  background: linear-gradient(
    0deg,
    rgba(63, 64, 48, 1) 0%,
    rgba(68, 69, 54, 1) 100%
  );
  color: #d7d7d7;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 15px;
  border: 0 !important;
}
.valuesTable th,
.valuesTable td {
  border: 0;
}

.valuesTable td {
  background-color: #2d312e;
  border-bottom: 1px solid #d6b032;
  border-top: 0;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  padding: 15px 15px;
  transition: 0.5s;
}
.whiteBgShadow {
  background: #151414;
  border-radius: 5px;
  margin-top: 30px;
  padding: 20px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

ul.mainResponses li {
  border-top: 1px solid #e3e3e3;
  padding-top: 20px;
}

.responseUserImg img {
  border-radius: 50%;
  max-width: 53px;
  max-height: 53px;
}
.responseUserImg p small {
  display: block;
  color: #afafaf;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: none;
}
.walletKey .address {
  background: #121a23;
  border: 1px solid #374454;
  color: #fff;
  font-size: 14px;
  text-align: left;
  padding: 10px 15px;
  display: inline-block;
width: 90%;
white-space: nowrap;
overflow: hidden !important;
text-overflow: ellipsis;
}
.depositeQr {
  text-align: center !important;
}
