body{
  background: #121a23;
  font-size: 16px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  transition: .5s;
}
.lockerProjectCard{
  background: #121a23;
  border-top: 2px solid #222e3d;
  padding: 15px 20px 20px;
}
.lockerProjectCard h3{
  font-size: 20px;
  font-weight: 600;
  color: #00b5eb;
}
.lockerProjectCard p span{
  color: #d6b032;
  width: 90px;
  display: inline-block;
  font-weight: 400;
}
body.themeLight{
  background: #ffffff;
  color: #000000;
}
a{
  color: #00b5eb;
  text-decoration: none;
  transition: .5s;
}
a:hover{
  color: #d6b032;
  text-decoration: none;
}
td a {
    cursor: pointer;
}
ul{
  margin: 0;
  padding: 0;
}
ul li{
  list-style: none;
}
.linkclass{
  color: #00b5eb;
    text-decoration: none;
    transition: .5s;
}
.css-zk88xw-singleValue{
  color: white !important;
}
.track-vertical {
    position: relative;
    display: block;
    width: 6px;
    height: 100%;
    cursor: pointer;
    background: transparent;
    float: right;
    z-index: 1;
    border-radius: 5px;
}

.track-vertical > div {
    background: rgba(0, 181, 235, 0.8) !important;
}
.marginTopLabel{
  margin-top: 20%;
}
#price.quantity {
    padding: 6px 15px;
}
.quadrat {
  width: 100%;
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid transparent;
  color: #ea0070;
  font-size: 14px;
  animation: animate 1.25s infinite;  /* IE 10+, Fx 29+ */
}

@keyframes animate {
  0%, 49% {
    border:1px solid #ea0070;

  }

}
.themeLight .rc-slider-rail {
    background-color: #b5b5b5 !important;
}
.themeLight .rc-slider-dot{
  background-color: #e5e5e5 !important;
  border-color: #d6b032 !important;
}
.themeLight .rc-slider-dot-active{
  background-color: #e5e5e5 !important;
  border-color: #00b5eb !important;
}
.themeLight .rc-slider-handle{
  background-color: #e5e5e5 !important;
  border-color: #00b5eb !important;
}
.themeLight #price{
  background-color: #fff;
border: 1px solid #b5b5b5;
color: #00b5eb;
}
.css-0 {
    display: flex;
}
.tradeInfoText {
    display: flex;
    justify-content: space-between;
    padding: 3px 15px 10px;
    border-bottom: 1px solid #27313d;
    background: #19222d;
    margin-top: -1px;
}
.tradeInfoText small span{color: #00b5eb}
.assetexchangeMain {
  /*width: 19px;*/
  /*height: 14px;*/
  display: block;
  cursor: pointer;
  /*margin-left: 15px;*/
}
.assetexchange i {
  font-size: 15px;
}
.assetexchangeMain:hover i{
color: #d6b032;
}
span.bgProgress{
    height: 100%;
    background-color: rgba(112,168,0,0.5);
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
span.bgProgressText{
  position: relative;
  z-index: 9;
}
span.bgProgress1{
    height: 100%;
    background-color: rgba(235,62,112,0.5);
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
span.bgProgressText1{
  position: relative;
  z-index: 9;
}
.highlight {
  background:rgba(22,62,112,0.5);
  animation-name:bckanim;
  animation-fill-mode:forwards;
  animation-duration:0.5s;
  animation-delay:0s;
}
@keyframes bckanim {
  0% {background:rgba(22,62,112,0.5);}
  100% { background-color:transparent;}
}
.leverageContent .tableHead h6{
  font-size: 18px;
  text-align: center;
  color: #a9a9a9;
  max-width: 75%;
  margin: 0 auto 20px;
}
.leverageContent .darkBoxSpace h3{
  font-size: 24px;
  color: #d6b032;
  margin-bottom: 10px;
}
.leverageBoxContent{
  background-color: #121a23;
  border: 1px solid #222c37;
  padding: 20px 20px 0;
  text-align: center;
  height: 100%;
}
.leverageCenterContent{
  margin-top: 25px;
  margin-bottom: 45px;
}
.leverageCenterContent h2{
  font-size: 24px;
  color: #a9a9a9;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 15px;
}
.leverageContent .darkBoxSpace .leverageCenterContent h3{
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}
.leverageCenterContent .leverageBoxContent p{
  font-size: 16px;
  color: #a9a9a9;
}
.leverageCenterContent .leverageBoxContent p span{
  color: #ffffff;
}
.leverageCenterContent .leverageBoxContent p small{
  font-size: 24px;
  color: #d6b032;
}

.buttonType2{
    background-color: #00b5eb;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 14px;
  color:#fff;
    text-transform: uppercase;
    transition: .5s;
    border: 0;
    box-shadow: none !important;
    cursor: pointer;
    transition: .5s;
    text-transform: uppercase;
    font-weight: 600;
}
.buttonType2:hover {
    background-color: #d6b032;
    color: #fff;
}
.groupContent h4{
  font-size: 18px !important;
}
.groupContent p{
  font-weight: 600;
}
.leaverageCalculator{
  background-color: #121a23;
  border: 1px solid #27313d;
  max-width: 420px;
  width: 100%;
  margin: 20px auto 0;
  display: block;
  padding: 20px;
  text-align: center;
}
.leaverageCalculator h2{
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}
.leaverageCalculator h2 span{
  display: block;
  color: #d6b032;
  margin: 5px 0;
}
.leaverageCalculator h2 small{
  display: block;
}
.leaverageCalculator h6{
  color: #c3c3c3;
  font-size: 18px;
  font-weight: 700;
}
.leaverageCalculator p{
  color: #a9a9a9;
  font-weight: 600;
}
.leaverageCalculator input{
  background-color: #ffffff;
}

.homeBanner .carousel-indicators li {
    background: #00B5EB;
    width: 15px;
    height: 15px;
    padding: 0;
    line-height: 0;
    font-size: 0;
    margin: 0 5px;
    border: 0;
    border-radius: 50%;
}
.homeBanner .carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out 1.7s;
    left: 0;
    top: 0;
    position: absolute;
}
.homeBanner .carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}
.homeBanner .carousel.carousel-fade .carousel-item:first-child {
    top: auto;
    position: relative;
    transition: opacity ease-out 1.7s;
}
.homeBanner .carousel.carousel-fade .carousel-item:second-child {
    top: auto;
    position: relative;
    transition: opacity ease-out 1.7s;
}
.homeBanner .carousel-item .img-fluid {
    margin: 0 auto;
}




.chartcontainer{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 560px;
  }
.loginTrade{
    position: absolute;
    top: 0;
    background: rgba(18,26,35,0.75);
    width: 100%;
    height: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 50px;
}
.loginTrade p{
  margin-bottom: 30px;
}
.loginTrade a{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}
.btnGroupBorderBtn.fontSM{
  font-size: 12px;
}
.notification-container-bottom-center, .notification-container-bottom-left, .notification-container-bottom-right, .notification-container-mobile-bottom, .notification-container-mobile-top, .notification-container-top-center, .notification-container-top-left, .notification-container-top-right {
    position: fixed;
    z-index: 9999999;
}
.btnGroupBorderBtn{
    padding: 2px 25px 4px;
    border-radius: 5px;
    color: #d6b032;
    border: 1px solid #d6b032;
    margin-left: 0px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: none !important;
}
.btnGroupBorderBtn:hover, .btnGroupBorderBtn.active{
  color: #00b5eb;
  border-color: #00b5eb;
}
.btnBuyBlue{
    padding: 2px 25px 4px;
    border-radius: 5px;
    margin-left: 0px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: none !important;
    color: #fff;
    border-color: #00b5eb;
    background: #00b5eb;
}
.btnBuyBlue:hover, .btnBuyBlue.active{
  color: #fff;
  border-color: #00b5eb;
  background: #00b5eb;
}
.btnSellBlue{
    padding: 2px 25px 4px;
    border-radius: 5px;
    color: #fff;
  border-color: #00b5eb;
  background: #00b5eb;
    margin-left: 0px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: none !important;
}
.btnSellBlue:hover, .btnSellBlue.active{
  color: #fff;
  border-color: #00b5eb;
  background: #00b5eb;
}
.btnSellYellow{
    padding: 2px 25px 4px;
    border-radius: 5px;
    color: #d6b032;
    border: 1px solid #d6b032;
    margin-left: 0px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: none !important;
}
.btnSellYellow:hover, .btnSellYellow.active{
  color: #fff;
  border-color: #d6b032;
  background: #d6b032;
}
.btnBuyYellow{
    padding: 2px 25px 4px;
    border-radius: 5px;
    color: #d6b032;
    border: 1px solid #d6b032;
    margin-left: 0px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: none !important;
}
.btnBuyYellow:hover, .btnBuyYellow.active{
  color: #fff;
  border-color: #d6b032;
  background: #d6b032;
}
#nav-conditional .number-input.number-input input[type="number"] {
  width: 82%;
}
.colorBlue{
  color: #00b5eb;
}
#nav-conditional .form-group label {
    font-size: 14px;
    color: #969696;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}
#nav-conditional .form-group label span {
    color: #fff;
}

#nav-conditional ul.list2ColumnJustify li {
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
}
#nav-conditional ul.list2ColumnJustify li span {
    color: #969696;
}

.rightSelect{
    position: absolute;
    right: 15px;
    top: 4px;
    font-weight: 600;
    width: 130px;
}
.tradeLimitMarket .rightSelect .css-2b097c-container{
  border: 0 !important;
  background: transparent;
}
.tradeLimitMarket .rightSelect .css-tlfecz-indicatorContainer, .tradeLimitMarket .css-tlfecz-indicatorContainer{
  color: #d6b032 !important;
}
.show {
  z-index: 9999 !important;
}
.rembordor tbody{
  border:none !important;
}
.tradeBuy td{
  border-color: #33465c;
  color: #bcbcbc;
  padding: 5px 15px;
  font-size: 13px;
}
.tradeBuy td span{
  color: #00b5eb;
}
.checkConfirmationText{
  color: #969696;
  font-size: 13px;
}
.temp-link{
  color:white;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 5px;
}
.rangeslider, .rangeslider .rangeslider__fill {
    display: block;
    box-shadow: none !important;
    background: #27313d !important;
}
.rangeslider-horizontal .rangeslider__handle {
    width: 18px !important;
    height: 18px !important;
    background: #27313d !important;
    border: 2px solid #d1ac32 !important;
}
.rangeslider-horizontal .rangeslider__handle::after {
    width: 8px !important;
    height: 8px !important;
    background-color: #d6b032 !important;
    box-shadow: none !important;
    top: 3px !important;
    left: 3px !important;
}

.rangeslider-horizontal{
  height: 4px !important
}
.rangeslider-horizontal .rangeslider__fill{
  background-color: #d6b032 !important;
}
.nodata{
  border-top: 0;
    font-size: 12px;
    font-weight: 400;
    color: #dcdcdc;
    padding: 4px 15px;
}
.tradeLimitMarket .css-1wy0on6 {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}
.css-2b097c-container {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #374454;
    border-radius: 5px;
    background: #121a23;
}
.themeLight .css-2b097c-container {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: #ffffff;
}
.trollBox .customScroll {
    max-width: 95%;
}
.css-1hb7zxy-IndicatorsContainer{
  position: absolute;
    right: 0;
    top: 0;
}
.themeLight .css-1hwfws3, .css-1wa3eu0-placeholder, .css-zk88xw-singleValue
{
  color:#fff !important;
}
.css-1hwfws3,  .css-1wa3eu0-placeholder, .css-zk88xw-singleValue{
  color:#fff !important;
}
.css-tlfecz-indicatorContainer {
    color: #374454 !important;
  }
.css-1okebmr-indicatorSeparator{
  width: 0 !important;
}
.css-26l3qy-menu{
background: #121a23 !important;
}
.css-1579d96-option, .css-nbylj9-option{
  color: #fff !important;
  border-bottom: 0 !important!;
  padding:10px 15px !important;
  border:0 !important;
  font-size: 14px !important;
}

.css-nbylj9-option, .css-h4cczp-option{
  background-color: #00b5eb !important;
  color: #fff !important;
  border-bottom: 0 !important;
  padding: 10px 15px !important;
  border:0 !important;
  font-size: 14px !important;
}

.themeLight .css-1hwfws3,  .css-1wa3eu0-placeholder, .css-zk88xw-singleValue{
  color:#fff !important;
}
.themeLight .css-tlfecz-indicatorContainer {
    color: #d6b032 !important;
  }
.themeLight .css-1okebmr-indicatorSeparator{
  width: 0 !important;
}
.themeLight .css-26l3qy-menu{
background: #cccccc !important;
}
.themeLight .css-1579d96-option, .css-nbylj9-option{
  color: #3a3a3a !important;
  border-bottom: 0 !important!;
  padding:10px 15px !important;
  border:0 !important;
  font-size: 14px !important;
}
.themeLight .css-nbylj9-option, .css-h4cczp-option{
  background-color: #ffffff !important;
  color: #3a3a3a !important;
  border-bottom: 0 !important;
  padding: 10px 15px !important;
  border:0 !important;
  font-size: 14px !important;
}


.tradeLimitMarket .css-1579d96-option, .css-nbylj9-option{
  font-size: 12px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.tradeLimitMarket .css-nbylj9-option, .css-h4cczp-option{
  font-size: 12px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.btnDefaultNew {
    padding: 10px 15px;
    padding-right: 15px;
    padding-left: 15px;
    color: #ffffff;
    background: #d6b032;
    transition: .5s;
    box-shadow: none !important;
    border: 0;
}
.btnDefaultNew:hover {
  background: #00b5eb;
}
.nodata{
  display: block;
  width: 100%;
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}
.modal-body .checkbox .cr, .radio .cr{
  margin-top: 2px;
}
.btnDefaultNewBlue {
    padding: 10px 15px;
    padding-right: 15px;
    padding-left: 15px;
    color: #ffffff;
    background: #00b5eb;
    transition: .5s;
    box-shadow: none !important;
    border: 0;
}
.modal-body .form-group label {
    width: 100%;
    display: block;
    font-size: 14px;
}
.modal-content .niceStyleSelect.nice-select {
    width: 100%;
    border: 1px solid #374454;
    border-radius: 5px;
    background: #121a23;
    color: #fff;
}

.form-group label {
    width: 100%;
    display: block;
}
.dropdown-toggle::after {
  content: "\f107";
  border: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  position: absolute;
  margin-left: 8px;
  color: #d6b032;
}
.selectCoinType .dropdown-menu {
    background: #253140;
    width: 200px;
    border-radius: 0;
    margin: 0;
    padding: 0;
    position: absolute;
}
.apiContent p {
    font-size: 14px;
}
.apiContent p span{
  color: #ea0070
}
.apiContent button{
  border: 0;
}

.close{
  color: #fff;
  transition: .5s;
}
.close:hover{
  color: #00B5EB;
}
.modal-content {
    background: #19222d;
}
.modal-header{
  border-bottom: 0;
}
.modal-footer{
  border-top: 0;
}
.themeLight .selectCoinType .dropdown-menu {
  background:#fafafa;
}
.selectCoinType .btn-group img { margin-right: 5px }
.selectCoinType .dropdown-toggle {}
.selectCoinType .dropdown-toggle .glyphicon { margin-left: 20px; margin-right: 0px }
.selectCoinType .dropdown-header {
    margin: 0;
    padding: 0;
    float: none;
    width: 100%;
}
.selectCoinType .dropdown-header h6{padding: 10px 15px; color: #fff; font-size: 14px; background-color: #d6b032; font-weight: 700; margin: 0;}
.selectCoinType .dropdown-header ul li{font-weight: normal; padding: 7px 15px; cursor: pointer; color: #fff;}
.selectCoinType .dropdown-header ul li a{color: #fff;}
.themeLight .selectCoinType .dropdown-header ul li{color: #000;}
.selectCoinType .dropdown-header ul li:hover, .selectCoinType .dropdown-header ul li.active{background-color: #00b5eb;}
.themeLight .selectCoinType .dropdown-header ul li:hover, .selectCoinType .dropdown-header ul li.active{background-color: #00b5eb; color: #fff;}
.selectCoinType .btn.btn-default.dropdown-toggle {background: transparent; border: 0; box-shadow: none !important; color: #fff; font-size: 14px;}
.themeLight .selectCoinType .btn.btn-default.dropdown-toggle{color: #000}

input[type=button], input[type=submit], input[type=reset], input[type=file]  {
  background-color: #ff6601;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: auto;
  cursor: pointer;
  font-weight: 600;
  display: block;
}
.formInlineCommon input[type="button"], .formInlineCommon input[type="submit"], .formInlineCommon input[type="reset"]{
  width: auto;
}
.securityphone{
  position: absolute;
    bottom: 0;
    right: 0;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #d65703;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text], input[type=password], input[type=email], input[type=number], textarea, textarea.form-control {
  background-color: #121a23;
  border: 1px solid #374454;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  resize: none;
  box-shadow: none !important;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, input[type=search]:focus, textarea:focus, textarea.form-control:focus {
  background-color: #121a23;
  border: 1px solid #00b5eb;
  color: #fff;
}
.form-control:disabled, .form-control[readonly] {
   background-color: #19222d;
  border: 1px solid #374454;
  color: #6f7173;
    opacity: 1;
}
input:placeholder {
  color: #cccccc;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #262f3b;
    background: #11171e;
    border-radius: 0em;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: .5em;
    margin-top: 3px;
}

.themeLight .checkbox .cr,
.themeLight .radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 0em;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: .5em;
    margin-top: 3px;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: 10px;
    line-height: 0;
    top: 9px;
    left: 4px;
    color: #d5af32;
}

.radio .cr .cr-icon {
    /*margin-left: 0.04em;*/
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.transYellowButton{
    background: transparent;
    border-color:#d6b032;
    color:#969696;
    padding: 2px 15px 4px;
    font-weight: 600;
    transition: .5s;
    font-stretch: 14px;
    box-shadow: none !important;
}

.pinkText{
  color: #ea0070;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: block;
    transform: scale(0);
    transition: ease-out 0.3s;
    left: auto;
    right: 0;
}
.dropdown:hover .dropdown-menu {
    transform: scale(1);
}

ul.prod-gram {
    letter-spacing: 0em;
    font-size: 14px;
    line-height: 2.4;
    float: left;
    list-style: none;
    padding: 5px 0px;
    margin: 0;
    height: 40px;
    position: relative;
    min-width: 125px;
}

ul.prod-gram li.init {
  cursor: pointer;
}

ul.prod-gram li {
  z-index: 2;
  cursor: pointer;
  width: 100%;
  padding: 0 20px;

  transition: ease-out 0.3s;
}
ul.prod-gram li img{
  margin-right: 5px;
}
ul.prod-gram li:not(.init) {
  width: 100%;
  display: none;
  background: #121a23;
  margin: 0px;
  padding: 5px 20px;
}
.themeLight ul.prod-gram li:not(.init) {
  background: #fafafa;
}
ul.prod-gram li:not(.init):hover {
  background: #00b5eb;
}
.customNavTrade{
  background-color: #121a23;
  border-bottom: 1px solid #242d39;
  transition: .5s;
}
.themeLight .customNavTrade{
  background-color: #ffffff;
  border-bottom: 1px solid #c8c8c8;
  transition: .5s;
}
.customNavTrade .nav-item.regButton .nav-link {
    background-color: #d6b032;
    border-radius: 5px;
    margin-left: 15px;
    padding: 10px 20px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    transition: .5s;
}
.customNavTrade .nav-item.regButton .nav-link:hover {
  background-color: #00B5EB;
  color: #fff;
}
.customNavTrade .nav-item{
  margin-right: 0;
  margin-left: 0;
}
.customNavTrade .nav-item .nav-link {
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border-left: 1px solid #242d39;
    padding-left: 15px;
    padding-right: 15px;
    transition: .5s;
}
.themeLight .customNavTrade .nav-item .nav-link {
  color: #000000;
}
.customNavTrade .nav-item.regButton .nav-link {
    margin-right: 15px;
}
.themeLight .customNavTrade .nav-item.regButton .nav-link {
  color: #ffffff;
}
.themeLight .customNavTrade .nav-item .nav-link {
  border-left: 1px solid #c8c8c8;
}
.customNavTrade .nav-item .nav-link:hover {
  color: #00B5EB;
}

.iconNav{
  display: block;
  background-image: url('../images/trademainnavicons.png');
}
.bg-bellIcon {
    width: 15px; height: 17px;
    background-position: -10px -10px;
}
.customNavTrade .nav-item:hover .nav-link .bg-bellIcon {
    background-position: -10px -47px;
}

.bg-mobileIcon {
    width: 12px; height: 19px;
    background-position: -10px -84px;
}
.customNavTrade .nav-item:hover .nav-link .bg-mobileIcon {
    background-position: -10px -123px;
}

.bg-sunIcon {
    width: 21px; height: 21px;
    background-position: -10px -162px;
}
.customNavTrade .nav-item:hover .nav-link .bg-sunIcon {
    background-position: -10px -203px;
}

.themeLight .bg-sunIcon {
    width: 21px; height: 16px;
    background: url('../images/moonIconS.png') -10px -10px;
}
.themeLight .customNavTrade .nav-item:hover .nav-link .bg-sunIcon {
   width: 21px; height: 16px;
    background: url('../images/moonIconS.png') -10px -46px;
}


.selectCoinType{
  position: relative;
  padding-right: 15px;
  margin-right: 15px;
}
.prod-gram::after{
  content: "";
  background: url(../images/downarrow.png) no-repeat scroll 0 0;
  width: 11px;
  height: 7px;
  position: absolute;
  right: 0px;
  top: 48%;
  transition: .2s;
  z-index: -1;
}
.prod-gram.open::after{
  transform: rotate(180deg);
}
.header-overview {
    display: flex;
    justify-content: space-around;
    border-left: 1px solid #242d39;
    border-right: 1px solid #242d39;
}
.themeLight .header-overview {
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
}
.headerOverviewGroup {
    display: flex;
}
.headerOverviewStatus{
  margin: 0 12px;
}
.headerOverviewStatus h5{
  font-size: 13px;
  color: #ffffff;
  font-weight: 600;
  margin: 0;
}
.themeLight .headerOverviewStatus h5{
  color: #000;
}
.headerOverviewStatus h5.pinkText{
  color: #ea0070;
}
.headerOverviewStatus h5 small{
  display: block;
  color: #bcbcbc;
  font-size: 12px;
}
.tradeMain {
  padding-top: 85px;
}
.tableHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #27313d;
    margin-bottom: 0px;
    padding-bottom: 8px;
}
.themeLight .tableHead{
  border-bottom:1px solid #c8c8c8;
}
.inputGroup{
  margin-right: 15px;
}
.inputGroup .btn{
  padding: 0;
  border-radius: 0;
  box-shadow: none !important;
  background: transparent;
  margin-left: 5px;
}
.darkBox {
  background: #19222d;
  border:1px solid #27313d;
  padding: 8px 0px;
  margin-bottom: 10px;
}
.tradeLimitMarket{
  position: relative;
}
.tradeLimitMarket .css-1wa3eu0-placeholder {
    font-weight: normal;
    font-size: 14px;
    color: #969696 !important;
}
.themeLight .darkBox {
  background: #fafafa;
  border:1px solid #c8c8c8;
}
.tradeTableLeftSide{
  height: 48%
}
.tableHead h4{
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 0 15px;
}
.tradeTableTitle span{
  text-align: right;
  color: #bcbcbc;
  font-size: 12px;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
}
.themeLight .tradeTableTitle span{
  color: #3a3a3a;
}
.tradeTableBodyRow span{
  text-align: right;
  color: #bcbcbc;
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.themeLight .tradeTableTitle span{
  color: #3a3a3a;
}

.tradeTableBodyRow span i{
  margin-right: 5px;
}
.tradeTableBodyRow.highLight span{
  color: #bcbcbc;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
.tradeTableBodyRow.highLight span i{
  margin-right: 5px;
}
.pinkText {
    color: #ea0070 !important;
}
.yellowText{
  color: #d6b032 !important;
}
.greenText{
  color: #70a800 !important;
}
.greyText{
  color: #969696 !important;
}
.tradeTableBodyRow.even{
  background: #222c38;
  transition: .5s;
}
.themeLight .tradeTableBodyRow.even{
  background: #e0e0e0;
}
.chartTradeSection img{
  width: 100%;
  height:100%;
}
.chartTradeSection {
    height: 98%;
}
.customScroll {
    max-height: 200px;
}

.tradeFulltabbedTable{
  min-height: 250px;
}
.tradeFulltabbedTable .nav-tabs {
  border-bottom: 1px solid #27313d;
}
.themeLight .tradeFulltabbedTable .nav-tabs {
  border-bottom: 1px solid #c8c8c8;
}
.tradeFulltabbedTable .nav-tabs .nav-link{
  color: #969696;
  font-size: 14px;
  font-weight: 600;
}
.tradeFulltabbedTable .nav-tabs .nav-link{
  background: transparent !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
  transition: none;
}
.tradeFulltabbedTable .nav-tabs .nav-link:focus, .tradeFulltabbedTable .nav-tabs .nav-link:hover{
  background: transparent !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
  border-bottom: 2px solid #d6b032 !important;
  color: #fff !important;
}
.tradeFulltabbedTable .nav-tabs .nav-item.show .nav-link, .tradeFulltabbedTable .nav-tabs .nav-link.active{
  background: transparent !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
  border-bottom: 2px solid #d6b032 !important;
  color: #fff !important;
}
.themeLight .tradeFulltabbedTable .nav-tabs .nav-item.show .nav-link, .themeLight .tradeFulltabbedTable .nav-tabs .nav-link.active, .themeLight .tradeFulltabbedTable .nav-tabs .nav-link:focus, .themeLight .tradeFulltabbedTable .nav-tabs .nav-link:hover{
  color: #000 !important;
}
.tradeFulltabbedTable .table thead th{
  border-bottom: 0;
  vertical-align: top;
}

.tradeFulltabbedTable .table th{
  border-top: 0;
  font-size: 12px;
  font-weight:700;
  color: #dcdcdc;
  padding: 5px 15px;
}
.themeLight .tradeFulltabbedTable .table th{
  color: #969696;
}
.tradeFulltabbedTable .table td{
  border-top: 0;
  font-size: 12px;
  font-weight:400;
  color: #dcdcdc;
  padding: 4px 15px;
}
.themeLight .tradeFulltabbedTable .table td{
  color: #969696;
}
.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #19222D;
}
.table-striped tbody tr:nth-of-type(2n) {
    background-color: #222C38;
}
.themeLight .table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #ffffff;
}
.themeLight .table-striped tbody tr:nth-of-type(2n) {
    background-color: #e0e0e0;
}
ul.list2ColumnJustify{
  padding: 10px 0 0 0;
}
ul.list2ColumnJustify li{
  font-size: 12px;
  color:#969696;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
}
ul.list2ColumnJustify li span{
  color:#d6b032;
}
ul.list2ColumnJustify li span a{
  text-decoration: underline;
}
ul.list2ColumnJustify li span a:hover{
  text-decoration: none;
}

.tradeFooter{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}
.tradeFooter li{
  display: inline-block;
  margin: 0 15px;
}
.tradeFooter .tradeFooterLinks li a{
  font-size: 14px;
}
.tradeFooter .tradeSocialLinks li a{
   font-size: 18px;
   color: #71767b;
}
.tradeFooter li a{
  color: #c8c8c8;
}
.themeLight .tradeFooter li a{
  color: #3a3a3a;
}
.tradeFooter li a:hover{
  color: #00b5eb;
}
.tradeFooter li:first-child{
  margin-left: 0;
}
.tradeFooter li:last-child{
  margin-right: 0;
}

.tradeLimitMarket .nav-tabs {
    border-bottom: 1px solid #27313d;
    padding-bottom: 10px;
}
.themeLight .tradeLimitMarket .nav-tabs {
  border-bottom: 1px solid #c8c8c8;
}
.tradeLimitMarket .nav-tabs .nav-link{
  padding: 2px 10px 4px;
  border-radius: 5px;
  color: #969696;
  border:1px solid #19222d;
  margin-left: 15px;
  font-size: 14px;
  font-weight: 600;
}
.themeLight .tradeLimitMarket .nav-tabs .nav-link{
  border:1px solid #cccccc;
}
.tradeLimitMarket .nav-tabs .nav-item.show .nav-link, .tradeLimitMarket .nav-tabs .nav-link.active{
  background: transparent;
  border-color: #d6b032;
  color: #d6b032;
}
.tradeLimitMarket .nav-tabs .nav-link:focus, .tradeLimitMarket .nav-tabs .nav-link:hover{
  background: transparent;
  border-color: #d6b032;
  color: #d6b032;
}
.tradeLimitMarket.assetsTable .nav-tabs .nav-link{
  font-size: 16px;
  padding: 4px 15px 6px;
}

.mbMinus{
  margin-bottom: -35px !important;
}

.assetsTable .nav-tabs {
    border-bottom: 1px solid #27313d;
    padding-bottom: 10px;
}
.assetsTable .nav-tabs .nav-link{
  padding: 2px 10px 4px;
  border-radius: 5px;
  color: #ffffff;
  border:1px solid #19222d;
  margin-left: 15px;
  font-size: 14px;
  font-weight: 600;
}
.assetsTable .nav-tabs .nav-item.show .nav-link, .assetsTable .nav-tabs .nav-link.active{
  background: transparent;
  border-color: #d6b032;
  color: #d6b032;
}
.assetsTable .nav-tabs .nav-link:focus, .assetsTable .nav-tabs .nav-link:hover{
  background: transparent;
  border-color: #d6b032;
  color: #d6b032;
}
.assetsTable .nav-tabs .nav-link{
  font-size: 16px;
  padding: 4px 15px 6px;
}
.assetHistoryTableTop{
  margin: 15px;
}
.assetsTable .niceStyleSelect.nice-select{
  width: 100%;
  border:1px solid #374454;
  border-radius: 5px;
  background: #121a23;
  color: #fff;
}
.supportTicket .niceStyleSelect.nice-select{
  width: 140px;
  border:1px solid #374454;
  border-radius: 5px;
  background: #121a23;
  margin-right: 25px;
  color: #fff;
  width: 100%;
  height: 46px;
  line-height: 44px;
}
.assetsTable input.datepicker{
  background: #121a23;
  margin-right: 25px;
  border:1px solid #374454;
  width: 100%;
  border-radius: 5px;
  box-shadow: none !important;
  color: #fff;
  font-size: 14px;
  padding: .375rem .75rem;
}
.closedPandLChart img{
  display: block;
  margin: 0 auto;
}
.datePickerMain{
  position: relative;
}
.datepicker td, .datepicker th {
  color: #969696;
  font-size: 12px;
}
.darkBox.assetsTable{
  min-height: 600px;
}
.assetsTable .table{
  border-bottom: 1px solid #27313d;
}
.closedPandLDataStatus{
  margin: 50px 15px 15px;
}
.closedPandLDataStatus .assetTitle small{
  display: block;
}
.datePickerMain .input-group-append-icon {
    position: absolute;
    top: -2px;
    right: 35px;
    color: #374454;
}
.assetHistoryTableTop label {
    display: block;
    width: 100%;
    font-size: 14px;
}
.input-group.referralLinkBox .form-control {
    border-radius: 5px;
}
input.buttonType1{
    background-color: #d6b032;
    border-radius: 5px;
    padding: 6px 20px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    transition: .5s;
    border: 0;
    box-shadow: none !important;
    cursor: pointer;
    transition: .5s;
}
input.buttonType1:hover{
  background-color: #00b5eb;
}
.assetTableTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}
.assetTitle{
  margin: 0;
}
.assetTitle span{
  display: block;
  color: #d6b032;
  font-size: 20px;
  font-weight: 400;
}
.assetTitle{
  color: #00b5eb;
  font-size: 32px;
  font-weight: 400;
}
.assetTitle small{
  color: #ffffff;
  font-size: 20px;
}
.assetTableRightLink li{
  display: inline-block;
  margin: 0 10px 0 0;
  padding-right: 10px;
  border-right: 2px solid #00b5eb;
}
.assetTableRightLink li:last-child{
  border-right: 0;
  padding-right: 0;
  margin-right: 0;
}
.assetTableRightLink li a{
  font-size: 16px;
  font-weight: 600;
}
.niceStyleSelect.nice-select{
  height: 32px;
  line-height: 30px;
  background: transparent;
  border-radius: 0;
  border:0;
  color: #969696;
}
.niceStyleSelect.nice-select .list{
  border-radius: 0;
  background: #121a23;
}
.themeLight .niceStyleSelect.nice-select .list{
  background: #fafafa;
}
.niceStyleSelect.nice-select .option:hover, .niceStyleSelect.nice-select .option.focus, .niceStyleSelect.nice-select .option.selected.focus{
  background: #00b5eb !important;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}
.themeLight .niceStyleSelect.nice-select .option:hover, .themeLight .niceStyleSelect.nice-select .option.focus, .themeLight .niceStyleSelect.nice-select .option.selected.focus{
  background: #00b5eb !important;
}
.tradeLimitMarket .niceStyleSelect.nice-select{
  position: absolute;
  right: 15px;
  top: 9px;
  font-weight: 600;
}
.tradeLimitMarket .niceStyleSelect.nice-select::after {
  border-color: #d6b032;
}

.tradeLimitMarket.assetsTable .niceStyleSelect.nice-select{
  position:static;
}
.tradeLimitMarket .slider.slider-horizontal{
  width: 100%;
}
.tradeLimitMarket #nav-tabContent-tradeLimitMarket{
  padding: 15px 15px 0;
}
.tradeLimitMarket .slider.slider-horizontal .slider-track{
  height: 3px;
}
.tradeLimitMarket .slider-track{
  background: #27313d;
}
.themeLight .tradeLimitMarket .slider-track{
  background: #b5b5b5;
}

.tradeLimitMarket .slider-selection{
  background: #d6b032;
}
.tradeLimitMarket .slider-handle{
  width: 16px;
  height: 16px;
  background: #27313d;
  border:2px solid #d6b032;
  top: -2px;
}
.themeLight .tradeLimitMarket .slider-handle{
  background: #ffffff;
}
.tradeLimitMarket .slider-handle::before{
    content: "";
    width: 6px;
    height: 6px;
    background: #d6b032;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 3px;
}
#leverageCurrentSliderValLabel{
  color: #969696;
  font-size: 14px;
  margin: 0 0 10px 0;
}
#leverageSliderVal {
  color: #00b5eb;
  font-weight: 700;
}
#nav-tradeLimit .form-group label{
  font-size: 14px;
  color: #969696;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}
#nav-tradeLimit .form-group label span{
  color: #fff;
}
.themeLight #nav-tradeLimit .form-group label span{
  color: #000;
}
#nav-tradeLimit ul.list2ColumnJustify li{
  padding-left: 0;
  padding-right: 0;
  font-size: 14px;
}
#nav-tradeLimit ul.list2ColumnJustify li span{
  color: #969696;
}
#nav-tradeLimit .form-group{
  margin-bottom: 10px;
}
.btn.btn-borderButton {
    color: #969696;
    border: 1px solid #374454;
    text-transform: uppercase;
    transition: .5s;
    background: #19222d;
    padding: 2px 7px;
    font-size: 11.5px;
    box-shadow: none !important;
    outline: none;
}
.themeLight .btn.btn-borderButton {
    color: #00b5eb;
    border: 1px solid #00b5eb;
    text-transform: uppercase;
    transition: .5s;
    background: #fff;
    padding: 2px 7px;
    font-size: 12px;
    box-shadow: none !important;
    outline: none;
}
.btn.btn-borderButton:hover {
    color: #d4ae32;
    border: 1px solid #d4ae32;
}
.buySellBtn{
  display: inline-block;
  text-align: center;
  width: 100%
}
.buySellBtn{
  margin-top: 10px;
}
.btn-btnBuy{
  background: #70a800;
  border:2px solid #70a800;
  color: #fff;
  padding: 5px 25px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: none !important;
  transition: .5s;
}
.btn-btnBuy:hover{
  background: transparent;
  color: #70a800;
  border:2px solid #70a800;
}

.btn-btnSell{
  background: #ea0070;
  border:2px solid #ea0070;
  color: #fff;
  padding: 5px 25px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: none !important;
}
.btn-btnSell:hover{
  background: transparent;
  color: #ea0070;
  border:2px solid #ea0070;
}

.number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {

}

.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
}

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  text-align: center;
}

.number-input.number-input {
  border: 1px solid #374454;
  width: 100%;
  border-radius: .25rem;
  background: #121a23;
  position: relative;
}
.themeLight .number-input.number-input {
  border: 1px solid #c8c8c8;
  background: #fff;
}
.number-input.number-input button {
    padding: 0;
    width: 20px;
    position: absolute;
    height: 32px;
    outline: none;
}
.number-input.number-input button.minus {
    padding-left: 10px;
    right: 8px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
  width: .6rem;
  background-color: #495057;
}
.themeLight .number-input.number-input button:before,
.themeLight .number-input.number-input button:after {
  color: #c8c8c8;
}
.number-input.number-input input[type=number] {
  max-width: 100%;
  width: 85%;
  padding: .5rem;
  border: 0px solid #374454;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #00b5eb;
  background: #121a23;
  text-align: right;
  border-left: 0 !important;
  border-radius: 5px 0 0 5px;
}
.themeLight .number-input.number-input input[type=number] {
  color: #00b5eb;
  background: #ffffff;
  border-color: #c8c8c8;
}
.number-input.number-input button.plus{
  border-right: 1px solid #374454;
}
.themeLight .number-input.number-input button.plus{
  border-right: 1px solid #c8c8c8;
}
.contractDetailsBTCUSDT .customScroll {
    max-height: 380px;
    min-height: 380px;
}
.contractDetailsBTCUSDT ul.customScroll {
    max-height: 330px;
    min-height: 330px;
}
.contractDetailsBTCUSDT ul.customScroll li{
  color: #969696;
  margin-bottom: 7px;
  font-size: 13px;
  line-height: 18px;
}
.contractDetailsBTCUSDT ul.customScroll li span{
  color: #ffffff;
}
.themeLight .contractDetailsBTCUSDT ul.customScroll li span{
  color: #000000;
}
.contractDetailsBTCUSDT ul.customScroll li span.moderatorName{
  color: #FF0000;
}
.contractDetailsBTCUSDT ul.customScroll li span.nonmoderatorName{
  color: #00b5eb;
}
.trollBox{
  position: relative;
  min-height: 380px;
  margin: 10px 10px 0;
}
.trollBoxForm input{
  background: #121a23;
  border:1px solid #27313d;
  border-radius: 0;
  box-shadow: none !important;
}
.trollBoxForm input:focus{
  background: #121a23;
  border:1px solid #00b5eb;
}
.themeLight .trollBoxForm input{
  background: #ffffff;
  border:1px solid #c8c8c8;
  border-radius: 0;
  box-shadow: none !important;
}
.themeLight .trollBoxForm input:focus{
  background: #fff;
  border:1px solid #00b5eb;
}
.trollBoxForm input[type=submit]{
  background: transparent;
  box-shadow: none !important;
  border:1px solid #d6b032;
  color: #d6b032;
  margin-left: 5px;
  cursor: pointer;
  transition: .5s;
}

.trollBoxForm input[type=submit]:hover{
  border:1px solid #00b5eb;
  color: #00b5eb;
}
.bottomFixed {
    position: relative;
    bottom: 0px;
    left: 0;
    z-index: 1;
}
.dropdown-menu{
  background: #253140;
}
.themeLight .dropdown-menu.sm-menu {
    background: #fafafa;
    border: 0;
}
.dropdown-item{
  color: #ffffff;
}
.themeLight .dropdown-item{
  color: #000;
}
.dropdown-item:focus, .dropdown-item:hover{
  background: #d6b032;
  color: #fff;
}

.tooltip-inner {
    background-color: #27313d;
    text-align: left;
    font-size: 13px;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #27313d !important;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-right-color: #27313d !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-right-color: #27313d !important;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-right-color: #27313d !important;
}

.themeLight .tooltip-inner {
    background-color: #c8c8c8;
    text-align: left;
    font-size: 13px;
    color: #3a3a3a;
}
.themeLight .tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #c8c8c8 !important;
}
.themeLight .tooltip.bs-tooltip-left .arrow:before {
    border-right-color: #c8c8c8 !important;
}
.themeLight .tooltip.bs-tooltip-bottom .arrow:before {
    border-right-color: #c8c8c8 !important;
}
.themeLight .tooltip.bs-tooltip-top .arrow:before {
    border-right-color: #c8c8c8 !important;
}

.assetDownMain {
    /*width: 19px; height: 14px;*/
    display: block;
    /*margin-right: 15px;*/
    cursor: pointer;
}
.assetDown {
    width: 19px; height: 14px;
    background: url('../images/assetIcons.png') -10px -10px;
    cursor: pointer;
}
.assetDown:hover {
    background-position: -10px -44px;
}

.assetUpMain {
    /*width: 19px; height: 14px;*/
    display: block;
    cursor: pointer;
}
.assetUp {
    width: 19px; height: 14px;
    background: url('../images/assetIcons.png') -10px -78px;
    cursor: pointer;
}
.assetUp:hover {
    background-position: -10px -112px;
}
#assetsTable td small{
  display: block;
  font-size: 14px;
  color: #969696;
}
#assetsTable.table thead th{
  border-bottom: 0;
  background: #222e3d;
  font-size: 16px;
  font-weight: 600;
  color: #969696;
}
#assetsTable.table td, #assetsTable.table th{
  border: 0;
  color:#ffff;
}
#assetsTable.table td{
  font-size:14px;
  vertical-align: middle;
}

.accordianComman .card-header .btn {
    padding: 0 20px 15px 20px;
    display: block;
    width: 100%;
    text-align: left;
    color: #d6b032;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 1px solid #27313d;
    border-radius: 0;
}
.accordianComman .card-header .btn.btn-link.collapsed{
  color: #d6b032;
  text-decoration: none;
  padding-bottom: 0px;
  transition: .5s;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 0;
}
.accordianComman .card-header .btn.btn-link.collapsed:hover{
  text-decoration: none;
}
.accordianComman .card-header .btn i {
    float: right;
    margin-right: 0px;
    margin-top: 0px;
    padding: 8px 0 0 0;
    color: #00b5eb;
    font-size: .85rem;
}
.accordianComman .card-header {
    padding: .55rem 0rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 0;
}
.accordianComman .card{
  border: 1px solid #27313d !important;
  border-radius: 0px !important;
  background: #19222d;
  margin-bottom: 20px;
  padding: 0 0px;
}
.accordianComman .card-body {
    padding: 15px;
    margin-bottom: 0px;
}

.accordianComman .card-body .btnDefault{
  padding: 10px 15px;
  color: #ffffff;
  background: #d6b032;
  transition: .5s;
  box-shadow: none !important;
}
.accordianComman .card-body .btnDefault:hover{
  background-color: #00b5eb;
}
.accordianComman .card-header [data-toggle="collapse"] .fa-chevron-down:before {
  content: "\f068";
  color: #00b5eb;
}

.accordianComman .card-header [data-toggle="collapse"].collapsed .fa-chevron-down:before {
  content: "\f067";
  color: #00b5eb;
}
.accordianSubGroup{
  border-bottom: 1px solid #27313d;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.groupTitle {
    font-size: 16px;
    font-weight: 600;
}
.userMailId {
    font-size: 14px;
    color: #969696;
    margin: 0 10px;
    font-weight: 600;
}
.textVerifyGreen {
    color: #25b012;
    font-size: 14px;
}
.textUnVerifyRed {
    color: #f44336;
    font-size: 14px;
    margin-left: 10px;
}
.mobNumber .nice-select.niceStyleSelect {
    border-left: 1px solid #374454;
    border-top: 1px solid #374454;
    border-bottom: 1px solid #374454;
    height: 46px;
    line-height: 44px;
    border-radius: 5px 0 0 5px;
    background: #121a23;
    color: #fff;
}
.scanCode{
  margin-top: 5px;
  display: inline-block;
}
#myWalletAddress {
    font-size: 24px;
    color: #00b5eb;
    padding: 3px 15px 5px;
}
.accordianSubGroup:last-child{
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.settingsCheckList label{
  font-size: 14px;
  margin-bottom: 12px;
}
.settingsCheckList .listText{
  font-size: 14px;
  margin-left: 0;
  color: #c8c8c8
}
.settingsCheckList .checkbox .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #d6b032;
    background: #d6b032;
    border-radius: 0em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
    margin-top: 1px;
}
.form-group .inlineLabel {
    display: inline-block;
    width: auto;
}
.settingsCheckList  .checkbox .cr .cr-icon{
  top: 8px;
  left: 3px;
}
.settingsCheckList .checkbox .cr .cr-icon {
    color: #fff;
}
.tableHead h3 {
    color: #d6b032;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 15px;
}
.assetExchange {
    margin-top: 25px;
    margin-bottom: 50px;
}
.assetExchangeWalletBalance {
    background: #121a23;
    text-align: center;
    border: 1px solid #374454;
    border-radius: 5px;
    padding: 15px;
}
.assetExchangeWalletBalance p {
    color: #d6b032;
}
.assetExchangeWalletBalance h3 {
  font-size: 32px;
  color: #00b5eb;
  font-weight: 400;
}
.assetExchangeWalletBalance h3 small{
  color: #ffffff;
  font-size: 20px;
}
.assetExchangeWalletBalance h6 {
  color: #969696;
  font-weight: 600;
}
.assetEchangeForm{
  margin: 0 0 0 15px;
}
.assetEchangeForm label{
  width: 100%;
  display: block;
}
.assetsTable .assetEchangeForm .niceStyleSelect{
  width: 100%;
  margin-right: 0;
}
.changeSelect {
    background: #d6b032;
    max-width: 32px;
    max-height: 32px;
    width: 100%;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
    transition: .5s;
}
.changeSelect:hover {
    background: #00b5eb;
}
.form-group.inputWithText {
    position: relative;
}
.input-group-append-icon {
    position: absolute;
    top: 42px;
    right: 15px;
    color: #bcbcbc;
}
.rightLink {
    font-size: 14px;
    text-decoration: underline;
}
.assetEchangeForm .assetTitle span {
  font-size:16px;
}
.assetEchangeForm .assetTitle span small{
  color: #969696;
  font-size:16px;
}
.supportTicket{
  position: relative;
}
.security-setting-content-success .ivu-icon-alert-circle
{
    font-size: 12px;
    color: #ffbf00;
}
.ivu-icon-alert-circle:before {
    content: "\E616";
}
.cmsTopImg {
    display: block;
    margin: 0 auto;
        margin-top: 0px;
}
.borderBottomRemove {
    border-bottom: 0;
}
.tableHead.tableHeadBlock p {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
.tableHead.tableHeadBlock{
  display: block;
}
.tableHead h2{
  font-size: 24px;
  color: #d6b032;
  text-align: center;
  margin: 12px 15px 15px;
  font-weight: 600;
}
.darkBoxSpace{padding: 35px;}
.formWhite .form-group label{
  display: block;
  width: 100%;
  font-size: 14px;
}
.formWhite .form-group label sup{
  color: #fd4848;
}
.formWhite .form-group .niceStyleSelect{
  width: 100%;
  background: #d7d7d7;
  border-radius: 5px;
  color: #000;
  font-size: 14px;
  height: 46px;
  line-height: 46px;
}
.formWhite .form-group input[type="text"], .formWhite .form-group input[type="password"], .formWhite .form-group input[type="email"], .formWhite .form-group input[type="number"], .formWhite .form-group textarea, .formWhite .form-group textarea.form-control{
  background: #d7d7d7;
  border-color:#d7d7d7;
  color: #000;
}
.formWhite .niceStyleSelect.nice-select .list {
    width: 100%;
    background: #d7d7d7;
}

/*Custom File Upload Starts*/
#customFile .custom-file-control:lang(en)::after {
  content: "Max file size 5 MB in pdf / docx / jpg / png";
  color: #787878;
}

#customFile .custom-file-control:lang(en)::before {
    content: "Upload";
    position: absolute;
    right: -8px;
    font-weight: 700;
    background: #d6b032;
    padding: 15px 25px;
    cursor: pointer;
    color: #fff;
    top: -13px;
    border-radius: 0 5px 5px 0;
}

/*when a value is selected, this class removes the content */
.custom-file-control.selected:lang(en)::after {
  content: "" !important;
}
.custom-file.form-control {
    background:  #d7d7d7;
    padding: 10px 15px;
    height: auto;
}
.custom-file {
  overflow: hidden;
}
.custom-file-control {
  white-space: nowrap;
}

.custom-file-control {
    white-space: nowrap;
    position: absolute;
    z-index: 9;
    text-align: left;
    top: 13px;
    box-shadow: none !important;
    width: 96%;
}
.custom-file-input{
    box-shadow: none !important;
    height: auto;
}
/*Custom File Upload Ends*/

.supportTicket .buttonType1 {
    font-size: 16px;
    padding: 10px 100px;
    margin: 0 auto;
}
.noteText h6 {
    font-size: 16px;
    font-weight: 600;
    color: #d6b032;
}
.noteText p {
    font-size: 12px;
}
.dwCont{
  background: #121a23;
  border: 1px solid #d6b032;
  border-radius: 0;
}
.dwCont button.close{
  color: #d6b032;
  font-size: 30px;
  position: absolute;
  top: 3px;
  right: 15px;
}
.dwCont .modal-body{
  padding: 0;
}
.dwCont .popHead{
  background:#222e3d;
  position: relative;
  padding: 10px 0;
}
.dwCont .popHead h4{
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.dwCont .popUpSpace{
  padding: 20px;
}
.depositeQr img{
  display: block;
  margin: 0 auto;
}
.walletKey {
  margin: 35px 0 15px;
}
.walletKey input[type="text"] {
    background: #121a23;
    border: 1px solid #374454;
    color: #fff;
    font-size: 14px;
    text-align: left;
    padding: 10px 15px;
}
.walletKey .input-group-append-icon {
    top: 5px;
    right: 5px;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    box-shadow: none !important;
    outline: none !important;
    color: #d6b032;
    cursor: pointer;
    font-size: 20px;
    transition: .5s;
}
.noteCont h6{
  color: #969696;
  font-size: 12px;
  font-weight: 600;
}
.noteCont p{
  font-size: 12px;
  color: #ffffff;
}
.withdrawPopupForm .btn.buttonType1 {
    padding: 8px 25px;
    margin: 0 auto;
}
.withdrawPopupForm .form-group label{
  font-size: 14px;
  display: inline-block;
  width: 100%;
}
.withdrawPopupForm .form-group label a{
  color: #d6b032;
  text-decoration: underline;
  transition: .5s;
}
.withdrawPopupForm .form-group label a:hover{
  text-decoration: none;
  color: #00b5eb;
}
.withdrawPopupForm .form-group label span {
    color: #969696;
}
.withdrawPopupForm .form-group label span small {
    font-size: 14px;
    color:  #fff;
}
.referralSocial {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 10px 0 25px;
}
.referralSocial h6{
  margin-bottom: 15px;
  font-size: 14px;
}
.referralSocial ul li{
  display: inline-block;
  margin: 0 7px;
}
.noBorder{
  border-radius: 0 !important;
  border:0 !important;
}
.noteText h3{
  font-size: 16px;
  font-weight: 600;
  color: #d6b032;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
}
.fixed-top{
  z-index: 99999;
}
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color:transparent) {

    .number-input.def-number-input.safari_only button:before,
    .number-input.def-number-input.safari_only button:after {
      margin-top: -.3rem;
    }
  }
}
@media screen and (max-width: 1768px) {
  .number-input.number-input input[type="number"]{
    width: calc(100% - 40px);
  }
  .number-input.number-input button.minus{

  }
  .contractDetailsBTCUSDT .customScroll {
    max-height: 388px;
}
}

@media screen and (max-width: 1199px) {
  .tradeMain {
  padding-top: 120px;
}
.customNavTrade{
    display: block;
}
.header-overview {
    display: inline-flex;
    justify-content:space-between;
    border-left: 0px solid #242d39;
    border-right: 0px solid #242d39;
    width: 100%;
}
#navbarResponsive {
    position: absolute;
    top: 14px;
    right: 15px;
}
}
@media screen and (max-width: 991px) {
  .assetsTable .nav-tabs .nav-link {
    font-size: 15px;
    padding: 4px 8px 6px;
}
.tradeLimitMarket.assetsTable .nav-tabs .nav-link{
  font-size: 15px;
    padding: 4px 8px 6px;
}
  .tradeMain{
    padding-top: 120px;
  }
  .assetExchangeWalletBalance{
    margin-right: 15px;
  }
.tableHead.tableHeadBlock p{
  padding: 0 15px;
}
.orderBook .tradeTableBodyRow .pinkText {
    padding-left: 18px !important;
}
.recentTrades .tradeTableBodyRow .pinkText {
    padding-left: 10px !important;
}
.recentTrades .tradeTableBodyRow .greenText {
    padding-left: 10px !important;
}
}
@media screen and (max-width: 767px) {
  .form-group .mobileFullWidth {
    width: 100%;
    margin-bottom: 15px;
}
.mobileNavAction{
   position: absolute;
   top: 20px;
   right: 15px;
}
.mobileNavAction .navbar-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.mobileNavAction .navbar-nav .nav-item .nav-link.customNavbarToggler{
    color: #00b5eb;
    outline: none;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: .35rem;
    padding-bottom: .35rem;
    font-size: 24px;
    transition: .5s;
    cursor: pointer;
    outline: 0 !important;
}
.mobileNavAction .navbar-nav .nav-item .nav-link.customNavbarToggler:hover {
    color: #d6b032;
}
#navbarResponsive {
    position: absolute;
    top: 55px;
    right: auto;
    left: 0;
    width: 100%;
    background: #253140;
    padding-top: 20px;
}
.navbar-nav > li > .dropdown-menu{
  display: none;
  transition: none;
  transform: none;
  border: 0;
}
.navbar-nav > li > .dropdown-menu.show {
  display: block;
}
#navbarResponsive .dropdown-toggle::after {
  right: 30px;
}
.tradeMain {
    padding-top: 140px;
}
.tradeFooter{
  display: inline-block;
  text-align: center;
  width: 100%;
}
.tradeFooterLinks{
  margin-bottom: 15px;
}
.assetEchangeForm{
  margin-right: 15px;
}
.assetExchangeWalletBalance{
  margin-left: 15px;
  margin-top: 25px;
}
.assetsTable .nav-tabs .nav-link {
  margin-bottom: 15px;
}
.headerOverviewStatus h5{
  font-size: 14px;
}
ul.assetTableRightLink{
  text-align: right;
}
.assetTableRightLink li{
  border-right: 0;
  margin-right: 0;
  padding-right: 0;
}
#customFile .custom-file-control:lang(en)::before {
  right: -12px;
}
.trollBox{
  margin-right: 0;
  margin-left: 0;
}
.trollBox .messages > div{
  max-width: 100%;
}
}
@media screen and (max-width: 575px) {
.tradeLimitMarket .css-1579d96-option, .css-nbylj9-option{
  font-size: 12px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.tradeLimitMarket .css-nbylj9-option, .css-h4cczp-option{
  font-size: 12px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.rightSelect {
  width: 130px;
}
  .scanCode{
  margin-top: 5px;

  display: block;
    margin: 0 auto;
    text-align: center;
}
.navbar-brand img{
  max-width: 80%;
  }
.header-overview{
  display: block;
}
.headerOverviewGroup {
    display: inline-block;
    width: 100%;
    text-align: left;
}
.headerOverviewStatus {
    margin: 0;
    margin-bottom: 0px;
    width: 32%;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    vertical-align: top;
}
.headerOverviewStatus h5{
  font-size: 14px;
}
.selectCoinType{
  margin-top: 5px;
  margin-bottom: 5px;
}
.tradeMain{
  padding-top: 225px;
}
.customNavTrade .mobileNavAction .nav-item .nav-link{
  padding-left: 10px;
  padding-right: 10px;
}
.mobileNavAction .navbar-nav .nav-item .nav-link.customNavbarToggler{
  padding-left: 10px;
}
.supportTicket .buttonType1{
  padding-left: 25px;
  padding-right: 25px;
}
.selectCoinType .dropdown-menu{
  width: 300px;
}
.tradeFooter li {
    display: inline-block;
    margin: 0 7px 7px;
}
.assetTitle span{
  font-size: 18px;
}
.assetTitle{
  font-size: 24px;
}
.assetTableRightLink li a{
  font-size: 14px;
}
}
