body {
	position: relative;
}
.apiSidebarLeft{
	padding-top: 25px;
	position: fixed;
	width: 100%;
}
.apiSidebarLeft .nav-brand{
	margin-bottom: 20px;
	display: block;
}

.apiSidebarLeft .nav-pills .nav-link {
	font-weight: 600;
}
.apiSidebarLeft .nav-pills .nav-link.active,
.apiSidebarLeft .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #00b5eb;
    border-radius: 0;
}

.apiSidebarLeft .dropdown-menu{
	width: 100%;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 0 !important;
	position: relative !important;
	transform: none !important;
}
.apiSidebarLeft .dropdown-toggle::after {
	display: none;
}
.apiSidebarLeft .nav-link.dropdown-toggle.active + .dropdown-menu{
	display: block !important;
}
.apiSidebarLeft .dropdown-item.active, .apiSidebarLeft .dropdown-item:active{
	 background-color: #d6b032;
}
.apiSidebarLeft .dropdown-item:hover {
    color: #d6b032;
    background: transparent;
}
.apiSidebarLeft .dropdown-item.active:hover {
	color: #ffffff;
    background: #d6b032;
}
.apiSidebarLeft .input-group{
	max-width: 297px;
}
.apiSidebarLeft .input-group-text{
	background: #121a23;
	border-color: #374454;
	color: #d6b032;
}
.apiSidebarLeft .input-group .form-control{
	border-left: 0;
	padding-left: 0px;
}
.apiSidebarLeft .input-group .form-control:focus{
	border-color: #374454;
}
.btnapi1{
    background-color: #d6b032;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    box-shadow: none !important;
}
.btnapi1:hover{
    background-color: #00b5eb;
    color: #fff;
}
.apiSecCommon{
	
}
.flexColumn{
	display: flex;
}
.apiContent{
	display: flex;
	flex-direction: column;
	background: #ffffff;
	width: 100%;
	color: #181818;
	padding-bottom: 15px;
}
.apiCode{
	display: flex;
	flex-direction: column;
	background: #121a23;
	width: 100%;
	color: #eeeeee;
	padding-bottom: 15px;
}
.apiContent h2 {
    font-size: 25px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 21px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fdfdfd;
    padding-left: 15px;
    padding-right: 15px;
}
.apiContent h4{
	font-size: 20px;
	font-weight: 600;
	padding-left: 15px;
	padding-right: 15px;
}
.apiContent p{
	padding-right: 15px;
	padding-left: 15px;
}
.apiContent aside {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background: #aaddf5;
    line-height: 1.6;
    padding-left: 15px;
    padding-right: 15px;
}
.apiContent code {
    background-color: rgba(0,0,0,0.05);
    padding: 3px;
    border-radius: 3px;
}
.apiContent ul{
	padding-left: 15px;
	padding-right: 15px;
}
.apiContent ul li{
	margin-bottom: 15px;
	font-size: 16px;
}
.apiContent .table-responsive .table{
	border-bottom: 1px solid #dee2e6;
}
.apiContent .table-responsive .table th{
	padding: 5px 15px;
} 
.apiContent .table-responsive .table td{
	padding: 5px 15px;
} 

.apiCode blockquote {
    background-color: #222c38;
    color: #fff;
    margin: 0;
    box-sizing: border-box;
}
.apiCode blockquote > p {
    background-color: #19222d;
    padding-left: 15px;
    padding-right: 15px;
    color: #eee;
}
.apiCode pre{
    background-color: #222c38;
    color: #fff;
    margin: 0;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.highlight .c, .highlight .cm, .highlight .c1, .highlight .cs {
    color: #909090;
}
.highlight .c, .highlight .cd {
    color: #656b6c;
}
.highlight .s2 {
    color: #e6db74;
}
.highlight .se {
    color: #ae81ff;
}
.highlight .err {
    color: #FFCC00;
}
.highlight .mf {
    color: #ae81ff;
}
@media screen and (min-width:768px){
    .deshHide{
        display: none;
    }
}
@media screen and (max-width: 767px){
    .apiSidebarLeft{
        background: #121a23;
        z-index: 99;
        min-height: 100vh;
        max-width: 50%;
        overflow-y: scroll;
        transition: left 0.5s ease-in-out;
        left: 0;
    }
    #nav-button {
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    color: #00b5eb;
    text-decoration: none;
    font-weight: 500;
    opacity: 1;
    line-height: 16px;
    transition: left 0.3s ease-in-out;
    box-shadow: none !important;
    border: 0 !important;
    outline: 0;
    background: rgba(18,26,45,.8);
    margin-top: 11px;
    margin-right: 15px;
}
}
@media screen and (max-width: 575px){
    .apiSidebarLeft{
    max-width: 65%;
}
.apiSidebarLeft .input-group {
    max-width: 210px;
}
}