body{
  background: #19222d;
  font-size: 16px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}
a{
  color: #00b5eb;
  text-decoration: none;
  transition: .5s;
}
a:hover{
  color: #d6b032;
  text-decoration: none;
}
ul{
  margin: 0;
  padding: 0;
}
ul li{
  list-style: none;
}
.btnBlue{
  background: #00b5eb;
  color: #ffffff;
  border-radius: 5px;
  transition: .5s;
}
.btnBlue:hover{
  color: #ffffff;
  background: #d6b032;
}
.customNav {
    background: #1A222D;
}
.customNav .nav-link{
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.customNav .nav-link:hover{
  color: #00b5eb;
}
.customNav .nav-item:last-child .nav-link{
  background-color: #d6b032;
  border-radius: 5px;
  margin-left: 15px;
  padding: 10px 20px;
  font-size: 16px;
}
.customNav .nav-item:last-child .nav-link:hover{
  background-color: #00b5eb;
  color: #ffffff;
}
.homeBanner{
  background: url(../images/homebg.jpg) no-repeat scroll center top;
  background-size: cover;
  padding-top: 70px;
  min-height: 808px;
}
.homeBannerText {
    padding: 130px 0 0 95px;
}
.homeBannerImg{
  margin-top: 95px;
}
.homeBannerText h3{
  font-size: 36px;
  margin: 0 0 0px 0;
}
.homeBannerText h2{
  font-size: 80px;
  color: #d6b032;
  font-weight: 400;
  margin: 0 0 25px 0;
}
.homeBannerText h2 small{
  font-size: 60px;
  font-weight: 400;
}
.homeBannerText h6{
  font-size: 18px;
  margin: 0 0 15px 0;
}
.homeBannerText h6 span{
  color: #00b5eb;
}
.homeBannerText p a{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 12px 25px;
}
.coinTable {
    margin-top: -220px;
    margin-bottom: 75px;
}
.coinTable nav {
    background: #d6b032;
}
.coinTable .nav-tabs {
  border-bottom: 0;
}
.coinTable .nav-tabs .nav-link{
  font-size: 22px;
  color: #ffffff;
  font-weight: 600;
  padding: 15px 30px;
  border: 0;
  margin-left: 25px;
  border-radius: 0;
}
.coinTable .nav-tabs .nav-link:hover{
  background: #2c302e;
  border: 0;
  border-radius: 0;
}
.coinTable .nav-tabs .nav-item.show .nav-link, .coinTable .nav-tabs .nav-link.active{
  background: #2c302e;
  color: #fff;
  border: 0;
  border-radius: 0;
}
.coinTable table.dataTable{
  margin: 0 !important;
  border-bottom: 2px solid #d6b032;
}
.coinTable table.dataTable th{
  border-bottom: 0;
  background: rgb(63,64,48);
  background: linear-gradient(0deg, rgba(63,64,48,1) 0%, rgba(68,69,54,1) 100%);
  color: #d7d7d7;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 15px;
  border-top:0;
}
.coinTable table.dataTable td{
  background-color: #2d312e;
  border-bottom: 1px solid #d6b032;
  border-top: 0;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  padding: 15px 15px;
  transition: .5s;
}
.coinTable table.dataTable tr:hover td{
  background-color: #00b5eb;
}
.greenText{
  color: #35ed60;
}
.redText{
  color: #ff4343;
}
.cryptoFeatures{
  background: url(../images/featuresBG.jpg) no-repeat scroll center bottom;
  background-size: cover;
}
.pageTitle{
  text-align: center;
  font-size: 36px;
}
.pageTitle small{
  display: block;
  font-size: 18px;
  color: #d6b032;
}
.cryptoFeaturesContText h4{
  font-size: 28px;
  color: #00b5eb;
  transition: .5s;
}
.cryptoFeaturesCont:hover .cryptoFeaturesContText h4{
  color: #d6b032;
}
.homeCTA{
  background: url(../images/ctabg.jpg) no-repeat scroll center top;
  background-size: cover;
  min-height: 200px;
  padding: 55px 0 25px;
}
.homeCTACont h6{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #19222d;
  margin-bottom: 0;
  text-shadow: 0px 0px 10px #ffffbe;
}
.homeCTACont h3{
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 25px;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}
.homeCTACont p a{
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}
.homeCTACont p a:hover{
  background-color: #2d312e;
}
.getStarted{
  padding: 70px 0;
}
.getStartedCont h4{
  font-size: 20px;
  font-weight: 700;
  color: #00b5eb;
  text-transform: uppercase;
  margin: 20px 0 0 0;
  text-align: center;
  transition: .5s;
}
.getStartedCont:hover h4 {
  color: #d6b032;
}
.getStartedCont span{
  display: block;
  margin: 0 auto;
}
.getStartIcon {
    height: 130px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.getStartIcon1{
   width: 101px; height: 101px;
    background: url('../images/gsicon.png') -10px -10px;
    transition: .3s;
}
.getStartedCont:hover .getStartIcon1{
    background-position: -10px -131px;
}
.getStartIcon2{
   width: 100px; height: 130px;
    background: url('../images/gsicon.png') -10px -498px;
    transition: .3s;
}
.getStartedCont:hover .getStartIcon2{
  background-position: -10px -648px;
}
.getStartIcon3{
  width: 98px; height: 103px;
    background: url('../images/gsicon.png') -10px -252px;
    transition: .3s;
}
.getStartedCont:hover .getStartIcon3{
  background-position: -10px -375px;
}
.getStartedCont::after {
    content: "";
    background-image: url(../images/arrowTriple.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0 0;
    width: 32px;
    height: 17px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    right: 0;
}
.getStartedCont.noarrow::after {
  display: none;
}

.secFAQ{
  padding: 50px 0;
  background: #151e28;
}
.homeAccordian #accordion .card-header .btn {
    padding: 0;
    display: block;
    width: 100%;
    text-align: left;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    border-bottom: 0;
    white-space: normal;
}
.homeAccordian #accordion .card-header .btn.btn-link.collapsed{
  color: #c8c8c8;
  text-decoration: none;
  transition: .5s;
  border-bottom: 1px solid #00b5eb;
  padding-bottom: 20px;
  transition: .5s;
  font-weight: 500;
  white-space: normal;
}
.homeAccordian #accordion .card-header .btn.btn-link.collapsed:hover{
  text-decoration: none;
  color: #00b5eb;
}
.homeAccordian #accordion .card-header:hover .btn.btn-link.collapsed{
  text-decoration: none;
  color: #00b5eb;
}
.homeAccordian #accordion .card-header .btn i {
    float: right;
    margin-right: 15px;
    margin-top: 0px;
    padding: 8px;
    color: #2c6ed5;
    font-size: .85rem;
    transition: .5s;
}

.homeAccordian #accordion .card-header {
    padding: .55rem 0rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 0;
}
.homeAccordian #accordion .card{
  border-radius: 0px;
  border:0;
  background: transparent;
}
.homeAccordian #accordion .card-body {
    padding: .5rem 1.25rem .3rem 1.9rem;
}
.homeAccordian #accordion .card-body p{
  color: #fff;
}
.homeAccordian #accordion .card-header [data-toggle="collapse"] .fa:before {  
  content: "\f068";
  color: #d6b032;
}

.homeAccordian #accordion .card-header [data-toggle="collapse"].collapsed .fa:before {
  content: "\f067";
  color: #c8c8c8;
}
.homeAccordian #accordion .card-header:hover .btn i:before{
  color: #00b5eb !important;
}
.homeAccordian #accordion .card-header .btn .numList {
  background: #ff8300;
}
.homeAccordian #accordion .card-header .btn.btn-link.collapsed .numList{
  background: #2c6ed5;
}

.pageFooter{
  background: #121a23;
  padding: 25px 0;
}
.footerCont h6{
  color: #d6b032;
  margin-bottom: 25px;
}
.footerCont ul li a{
  color: #c8c8c8;
}
.footerCont ul li a:hover{
  color: #00b5eb;
}
.footerCont p{
  color: #c8c8c8;
  font-size: 14px;
  line-height: 18px;
}
.footerCont ul.socialIcons{
  margin-bottom: 20px;
}
.footerCont ul.socialIcons li{
  display: inline-block;
  margin: 0 15px;
}
.footerCont ul.socialIcons li:first-child{
  margin-left: 0;
}
.footerCont ul.socialIcons li:last-child{
  margin-right: 0;
}
.footerCont ul.socialIcons li a{
  font-size: 24px;
  color: #71767b;
}
.footerCont ul.socialIcons li a:hover{
  color: #00b5eb;
}
.featuresIcon1{
    width: 94px; height: 93px; display: block;
    background: url('../images/featuresIcon.png') -10px -10px;
    transition: .3s;
}
.cryptoFeaturesCont:hover .featuresIcon1{
  background-position: -10px -123px;
}
.featuresIcon2{
    width: 94px; height: 93px; display: block;
    background: url('../images/featuresIcon.png') -10px -236px;
    transition: .3s;
}
.cryptoFeaturesCont:hover .featuresIcon2{
  background-position: -10px -349px;
}
.featuresIcon3{
    width: 94px; height: 93px; display: block;
    background: url('../images/featuresIcon.png') -10px -462px;
    transition: .3s;
}
.cryptoFeaturesCont:hover .featuresIcon3{
  background-position: -10px -575px;
}
.featuresIcon4{
    width: 94px; height: 93px; display: block;
    background: url('../images/featuresIcon.png') -10px -688px;
    transition: .3s;
}
.cryptoFeaturesCont:hover .featuresIcon4{
  background-position: -10px -801px;
}
.cryptoFeaturesImg img{
  -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: .5s;
}
.cryptoFeaturesImg img:hover{
  filter: unset;
}

@media screen and (max-width: 1199px) {
.homeBannerText {
  padding: 50px 0 0 0px;
}
.homeBannerImg {
    margin-top: 50px;
}
}
@media screen and (max-width: 991px) {
.container{
  max-width: 96%;
}
.homeBannerText h3 {
    font-size: 30px;
}
.homeBannerText h2 {
    font-size: 60px;
}
.homeBannerText h2 small {
    font-size: 40px;
}
.homeBannerText h6{
  font-size: 17px;
}
.homeCTACont h6 {
  font-size: 25px;
}
.homeCTACont h3 {
  font-size: 40px;
}
.cryptoFeaturesContIcon {
    margin-top: 10px;
}
.footerCont ul.socialIcons li{
  margin: 0 10px;
}
}
@media screen and (max-width: 767px) {
.homeBannerText {
  padding: 25px 0 0 0px;
  display: inline-block;
  text-align: center;
  width: 100%
}
.homeBannerImg {
    margin-top: 0px;
}
.homeBannerImg img{
  margin: 0 auto;
  display: block;
}
.coinTable {
    margin-top: -120px;
}
.homeCTACont h3 {
    font-size: 35px;
}
.customNav .navbar-toggler {
    color: #00b5eb;
    outline: none;
    padding: 0;
    font-size: 24px;
    transition: .5s;
}
.customNav .navbar-toggler:hover {
  color: #d6b032;
}
.customNav .nav-item:last-child .nav-link{
  margin-left: 0;
  margin: 10px 0 12px;
}
.getStartedCont::after {
  right: -15px;
}
table.dataTable > tbody > tr.child ul.dtr-details{
  width: 100%;
}
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child::before{
}
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child::before{
  top: 50%;
  margin-top: -7px;
  background-color: #00b5eb;
}
}
@media screen and (max-width: 575px) {
.homeBannerText h3 {
    font-size: 24px;
}
.homeBannerText h6 {
    font-size: 16px;
}
.coinTable .nav-tabs .nav-link{
  margin-left: 0;
}
.cryptoFeaturesContText h4 {
    font-size: 22px;
}
.homeAccordian #accordion .card-header .btn span.question {
    max-width: 85%;
    display: inline-block;
}
.footerCont h6 {
  margin-bottom: 5px;
}
.pageTitle {
  font-size: 30px;
  font-weight: 600;
}
.getStartedCont::after {
    right: 50%;
    transform: rotate(90deg);
    margin-right: -17px;
    top: 87%;
}
.getStartedCont{
  margin-bottom: 80px;
}
.featuresIcon1, .featuresIcon2, .featuresIcon3, .featuresIcon4{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.cryptoFeaturesContText h4{
  text-align: center;
}
.cryptoFeaturesContText p{
  text-align: center;
}
}