body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/*.rc-slider-rail::before{
	content: "";
	position: absolute;
	width: 38.77%;
	height: 4px;
	background: #70a800;
	top:5px;
	left: 0;
	z-index: 1;
}

.rc-slider-rail::after{
	content: "";
	position: absolute;
	width: calc(100% - 38.77%);
	height: 4px;
	background: #ea0070;
	top:5px;
	right: 0;
	z-index: 1;
}*/